<!--=== Content Part -Body ===-->
<div class="profile-body">
  
  <div class="row">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 headline">
          <h3>Your Status</h3>
          <div>
            <h5 style="margin-top: 10px;">
              <i>
                Update your status to receive the full functionality of Miracles
              </i>
            </h5>
          </div>
        </div>
      </div>

      <!-- Account Status -->
      <div class="row">
        <div class="col-md-12">
          <!-- Page Error Summary-->
          <md-alert-drctv title="{{title}}" message="{{message}}" alert-type="{{alertType}}" fade="fadeIn" show-alert="{{showAlert}}"></md-alert-drctv>
          <!-- //Page Error Summary -->
        </div>
      </div>

      <div class="row" ng-hide="isLoading">
        <div class="col-md-12">
          <h3>Your Account status is: <span ng-class="{'text-success' : status === 'Active', 'text-warning' : status !== 'Active'}"><b>{{status}}</b></span></h3>
        </div>
      </div>

      <div class="row" ng-hide="status === 'Active'">
        <div class="col-md-12">
          <h4>Please complete the registration process to enjoy all the features of the Miracle network.</h4>
          <button type="button" class="btn-u btn-u-lg" ng-click="gotoChangePassword()">Complete your Connection Now!</button>
        </div>
      </div>

      <div class="row" ng-show="status === 'Active'">
        <div class="col-md-12">
          <h4>Congratulations!  You're account is now active and available!</h4>
        </div>
      </div>
      <!--/Account Status-->
      <!-- Wepay Status -->
      <div class="row" ng-show="isLoadingWePay">
        <div class="col-md-12">
          <h3>Checking WePay status is..</h3>
        </div>
      </div>

      <div class="row" ng-hide="isLoadingWePay">
        <div class="col-md-12">
          <h3>Your WePay status is: <span ng-class="{'text-success' : wePayStatus === 'Active', 'text-warning' : wePayStatus !== 'Active'}"><b>{{wePayStatus}}</b></span></h3>
        </div>
      </div>

      <div class="row" ng-show="wePayStatus !== 'Active'">
        <div class="col-md-12">
          <h4>{{message}}</h4>
        </div>
      </div>

      <div class="row" ng-show="wePayStatus === 'Pending'">
        <div class="col-md-12">
          <button type="button" class="btn-u btn-u-lg" ng-click="resendWePayRegistration()">Resend WePay Confirmation Email</button>
        </div>
        <div ng-show="isSending">
          <md-spinner-bar-drctv />
        </div>
      </div>


      <div class="row" ng-show="wePayStatus === 'Active'">
        <div class="col-md-12">
          <h4>Congratulations!  You are now able to be paid through WePay</h4>
        </div>
      </div>
      <!--/Wepay Status-->
      <!--Facebook Status-->
      <div class="row" ng-hide="isLoadingFacebook">
        <div class="col-md-12">
          <h3>Your Facebook Connection status is: <span ng-class="{'text-success' : facebookStatus === 'Active', 'text-warning' : facebookStatus !== 'Active'}"><b>{{facebookStatus}}</b></span></h3>
        </div>
      </div>
      <!--/Facebook Status-->

      <div ng-show="isLoading">
        <md-spinner-bar-drctv />
      </div>
    </div>

  </div><!--/row-->

</div><!--/profile-body-->
<!--=== End Content Part - Body ===-->