<div class="poster margin-5">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <button type="button" class="btn btn-default" ng-class="{'btn-lg' : size === 'large'}" ng-click="postData('Facebook')"><i class=" fa fa-facebook"></i></button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <button type="button" class="btn btn-default" ng-class="{'btn-lg' : size === 'large'}" ng-click="postData('Twitter')"><i class="fa fa-twitter"></i></button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <button type="button" class="btn btn-default" ng-class="{'btn-lg' : size === 'large'}" ng-click="postData('Mail')"><i class="fa fa-envelope"></i></button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <button type="button" class="btn btn-default" ng-class="{'btn-lg' : size === 'large'}" ng-click="postData('Print')"><i class="fa fa-print"></i></button>
    </div>
  </div>
</div>
