
<div class="modal-body donate-modal">
  <div ng-form="fundDonationForm">
    <div class="donate-form">
      <div class="donate-fund ">
        <div class="row">
          <div class="col-lg-9 col-md-8 col-xs-8">
            <h3>Thank You!</h3>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-4 text-right">
            <button class="btn btn-lg btn-default" ng-click="close('cancel')"><i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="row margin-left-5 box">
          <div class="col-md-6">

            <h3 class="donate-title2 margin-top-10">Donated To:</h3>
            <div class="row">
              <div class="col-md-4">
                <img class="img-bordered rounded-x" ng-src="{{fund.defaultImageThumb}}" />
              </div>
              <div class="col-md-8">
                <span class="donate-fund-title2">{{fund.item.title}}</span>
              </div>
            </div>
            <div class="row">
              <div class="progress" style="height: 35px; margin-bottom: 0">
                <div class="progress-bar pull-left" ng-style="getProgressPercentage()"></div>
              </div>
              <div class="row" style="margin: -32px 10px 10px 10px;">
                <div class="span6">
                  <div class="progress-amount-sm-left">
                    Raised: ${{getTotalDonation()| number: 0}}
                  </div>
                </div>
                <div class="span6">
                  <div class="progress-amount-sm-right">
                    Goal: ${{fund.goalAmount | number: 0}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <h4>
              Your donation has made a significant difference.  Please consider extending
              your impact by letting your friends and family know about the cause you care about.
            </h4>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>
              Your impact has made a difference.  Did you know that nearly one-third of all donations
              come from social networks? 
            </h3>
          </div>
        </div>
        <div class="row margin-left-5 shop-product-v2">
          <div class="col-md-12 text-center">
            <fd-widgets-social-drctv data="socialData"></fd-widgets-social-drctv>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div ng-hide="isSaving" class="pull-right">
              <button class="btn-u btn-u-lg btn-block" ng-click="thankYou()"><i class="fa fa-heart-o"></i> Thank You</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>