<!--=== Content Part -Body ===-->
<div class="profile-body">
  
  <div class="row">

    <div class="col-md-12" ng-form="passwordForm">
      
      <div class="row">
        <div class="col-md-12">
          <!-- Page Error Summary-->
          <md-alert-drctv title="{{title}}" message="{{message}}" alert-type="{{alertType}}" fade="fadeIn" show-alert="{{showAlert}}"></md-alert-drctv>
          <!-- //Page Error Summary -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 headline">
          <h3>Password</h3>
          <div>
            <h5 style="margin-top: 10px;">
              <i>
                Passwords must be at least 6 characters long.
              </i>
            </h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 form-group">
          <div ng-hide="isSetPassword">
              
            <!-- Current Password -->
            <label for="oldPassword">
              Current Password:
              <span class="color-red" ng-show="showValidationMessages && passwordForm.oldPassword.$error.required"><strong>[required]</strong></span>
            </label>
            <input class="form-control bloat" id="oldPassword" name="oldPassword" type="password" ng-model="password.oldPassword" ng-required="!isSetPassword" placeholder="Old Password">
          </div>
          <!-- /Current Password -->

          <div class="row form-inline">
              
            <!-- New Password -->
            <div class="col-md-6">
              <label for="password">
                Password:
                <span class="color-red" ng-show="showValidationMessages && passwordForm.password.$error.required"><strong>[required]</strong></span>
              </label>
              <input class="form-control bloat" id="password" name="password" type="password" ng-model="password.newPassword" required placeholder="Password">
            </div>
            <!-- /New Password -->

          </div>
            
          <div class="row form-inline">
              
            <!-- Confirm Password -->
            <div class="col-md-6">
              <label for="confirmPassword">
                Confirm Password:
                <span class="color-red" ng-show="showValidationMessages && passwordForm.confirmPassword.$error.required"><strong>[required]</strong></span>
                <span class="color-red" ng-show="showValidationMessages && !passwordForm.confirmPassword.$error.required && passwordForm.confirmPassword.$error.pwmatch"><strong>[passwords different]</strong></span>
              </label>
              <input class="form-control bloat" id="confirmPassword" name="confirmPassword" type="password" ng-model="password.confirmPassword" required va-password-check-drctv="password" placeholder="Confirm Password">
            </div>
            <!-- /Confirm Password -->
              
          </div>

          <!-- Buttons -->
          <div class="row" ng-hide="isSaving">
            <div class="col-md-12">
              <button class="btn-u btn-u-lg" type="button" ng-click="save()" ng-hide="isSaving"><i class="fa fa-check"></i> Save</button>
            </div>
          </div>

          <div class="row" ng-show="isSaving">
            <div class="col-md-12">
              <md-spinner-bar-drctv />
            </div>
          </div>
          <!-- /Buttons -->

        </div>
      </div>

    </div>

  </div><!--/row-->

</div><!--/profile-body-->
<!--=== End Content Part - Body ===-->