<!--=== Content Part -Body ===-->
<div class="profile-body">
  <div class="row">

    <!--LEFT SECTION(BODY)-->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <!-- Page Error Summary-->
          <md-alert-drctv title="{{title}}" message="{{message}}" alert-type="{{alertType}}" fade="fadeIn" show-alert="{{showAlert}}"></md-alert-drctv>
          <!-- //Page Error Summary -->
        </div>
      </div>
      <!-- Page Header  -->
      <div class="row">
        <div class="col-md-7 headline">
          <h3>Basic Info</h3>
          <div>
            <h5 style="margin-top: 10px;">
              <i>
                Update your basic information here
              </i>
            </h5>
          </div>
        </div>
      </div>

      <!-- Form -->
      <div class="row">
        <div class="col-md-7 form-group" ng-form="accountBasicsForm" ng-hide="isLoading">

          <!-- First Name -->
          <label for="firstName">
            First Name:
            <span class="color-red" ng-show="showValidationMessages && accountBasicsForm.firstName.$error.required"><strong>[required]</strong></span>
          </label>
          <input class="form-control bloat" id="firstName" name="firstName" type="text" ng-model="user.firstName" required placeholder="First Name" />
          <!-- /First Name -->
          <!-- Last Name -->
          <label for="lastName">
            Last Name:
            <span class="color-red" ng-show="showValidationMessages && accountBasicsForm.lastName.$error.required"><strong>[required]</strong></span>
          </label>
          <input class="form-control bloat" id="lastName" name="lastName" type="text" ng-model="user.lastName" required placeholder="Last Name">
          <!-- /Last Name -->
          <!-- Email/username -->
          <h4>Email (Primary): <b>{{user.email}}</b></h4>
          <!-- /Email/username -->
          <!-- WePay -->
          <div class="row">
            <div class="col-md-12 form-group">
              <div ng-hide="isVerifying">
                <h4>
                  WePay account status:
                  <span ng-class="{'text-success' : verification.accountStatus === 'active', 'text-warning' : verification.userState !== 'registered' || verification.accountState !== 'active'}">
                    <b>{{wePayStatus}}</b>
                  </span>
                </h4>
                <button type="button" class="btn-u btn-u-lg" id="wePayLink" name="wePayLink" ng-click="wePay()" ng-hide="isAuthorized || isPending">{{authorizeButtonTitle}}</button>
                <button type="button" class="btn-u btn-u-lg" id="wePayRegister" name="wePayRegister" ng-click="resendWePayRegistration()" ng-show="isPending && !isSending">Resend Wepay Confirmation Email</button>
              </div>

              <div ng-show="isVerifying || isSending">
                <md-spinner-bar-drctv />
              </div>
            </div>
          </div>
          <!-- /Wepay -->
          <!-- Buttons -->
          <div class="row">
            <div class="col-md-12 form-group">
              <div ng-hide="isSaving">
                <button type="button" class="btn-u btn-u-lg" ng-click="saveUser()"><i class="fa fa-check"></i> Save</button>
              </div>

              <div ng-show="isSaving">
                <md-spinner-bar-drctv />
              </div>
            </div>
          </div>
          <!-- /Buttons -->

        </div>
      </div>
      <!-- /Form -->

      <div class="row" ng-show="isLoading">
        <md-spinner-bar-drctv />
      </div>

    </div>
    <!--/LEFT SECTION(BODY)-->

  </div><!--/row-->

</div><!--/profile-body-->
<!--=== End Content Part - Body ===-->