<div class="body">
  <style type="text/css">
    /*Registration and Login Page v1
      Taken from /assets/css/pages
      ------------------------------------*/
    .reg-page {
      color: #555;
      padding: 30px;
      background: #fefefe;
      border: solid 1px #eee;
      box-shadow: 0 0 3px #eee;
    }

    /*Reg Header*/
    .reg-header {
      color: #555;
      text-align: center;
      margin-bottom: 0;
      border-bottom: solid 1px #eee;
    }

      .reg-header h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }

    /*Reg Forms*/
    .reg-page label {
      color: #777;
    }
  </style>
  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs margin-bottom-50">
    <div class="container">
      <h1 class="color-blue pull-left">Connect Your Accounts</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== Content Part ===-->
  <div class="container" ng-form="registerForm">
    <div class="row margin-bottom-10">

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="reg-page">
          <div class="reg-header">
            <h2>Last Step!</h2>
            <p>
              This account already exists in our system.  Please login below to complete the connection to your social account.
            </p>
          </div>

          <section id="loginForm" class="reg-page">
            <div class="input-group margin-bottom-20">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" ng-model="user.userName" placeholder="Username" required />
            </div>

            <div class="input-group margin-bottom-20">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-6">
                <label class="checkbox"><input type="checkbox" ng-model="persistent" /> Stay Signed in</label>
              </div>
              <div class="col-md-6 col-xs-6">
                <button class="btn-u pull-right" type="button" ng-click="login(user, persistent)" ng-hide="isLoggingIn">Login</button>
                <div class="actions pull-right" ng-show="isLoggingIn">
                  <md-spinner-bar-drctv />
                </div>
              </div>
            </div>
            <hr />
            <h4>Forget your Password ?</h4>
            <p>no worries, <a ng-href="/resetPassword" class="color-green">click here</a> to reset your password.</p>
            <h4>Register</h4>
            <p>click <a ng-href="/register" class="color-green">Register</a> to register an account.</p>
          </section>
        </div>
      </div>

    </div><!--/row-->
  </div><!--/container-->
  <!--=== End Content Part ===-->

</div>
<!--/body-->