<div class="body">

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs margin-bottom-40">
    <div class="container">
      <h1 class="color-green pull-left">Login</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 col-sm-6">
        <section id="loginForm" class="reg-page">

          <div class="headline">
            <h2>Login to your account</h2>
          </div>

          <div class="input-group margin-bottom-20" >
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" ng-model="user.userName" placeholder="Username" required />
          </div>

          <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
          </div>

          <div class="row">
            <div class="col-md-6 col-xs-6">
              <label class="checkbox"><input type="checkbox" ng-model="persistent" /> Stay Signed in</label>
            </div>
            <div class="col-md-6 col-xs-6">
              <button class="btn-u pull-right" type="button" ng-click="login(user, persistent)" ng-hide="isLoggingIn">Login</button>
              <div class="actions pull-right" ng-show="isLoggingIn">
                <md-spinner-bar-drctv spinner-type="squareLarge" spinner-size="sm"/>
              </div>
            </div>
          </div>
          <hr />
          <h4>Forget your Password ?</h4>
          <p>no worries, <a ng-href="/resetPassword" class="color-green">click here</a> to reset your password.</p>
          <h4>Register</h4>
          <p>click <a ng-href="/register" class="color-green">Register</a> to register an account.</p>
        </section>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-6">
        <!---=== External Logins ===-->
        <se-external-logins-drctv title="Use another service to log in."></se-external-logins-drctv>
      </div><!--=== END External Logins ===-->
    </div><!--/row-->
  </div><!--/container-->
  <!--=== End Content Part ===-->

</div>
<!--/body-->

