/* 
* Version: 1.6
* Light Color             : #95a5a6; 
* Light Hover Color       : #7f8c8d; 
* Light Hover Color light : #cfd1d1
* Additional color        : #f0f0f0;
* rgba(149, 165, 166, 1);
*/

.wishlist-category a {
	color: #95a5a6;
}
 .add-to-wishlist i {
	color: #95a5a6;
}

.add-to-wishlist a:hover,
.add-to-wishlist .wishlist-in:hover i,
.add-to-wishlist .compare-in:hover i {
	color: #95a5a6;
}

 .shop-product .shop-product-social li i:hover {
	color: #95a5a6;
}

 .shop-product-v2 .shop-product-social li i:hover {
  color: #95a5a6;
}

 .shop-product .product-review-list a:hover {
	color: #95a5a6;
}

 .shop-product .product-size label:hover {
	color: #95a5a6;
	border-color: #95a5a6;
}

.shop-product .product-size input:checked ~ label {
	color: #95a5a6;
	border-color: #95a5a6;
}

.shop-product .product-color label:hover {
	cursor: pointer;
	border: 2px solid #7f8c8d;
}

.shop-product .product-color input:checked ~ label {
	border: 2px solid #95a5a6;
}

.shop-color {
	color: #95a5a6;
}

.product-service .product-service-heading {
	background: #95a5a6;
}

.product-service:hover .product-service-heading {
	background: #cfd1d1;
}

.product-service .product-service-in a {
	color: #95a5a6;
}

.tab-v5 .nav-tabs > li.active > a, 
.tab-v5 .nav-tabs > li.active > a:hover, 
.tab-v5 .nav-tabs > li.active > a:focus {
	border-bottom: 1px solid #7f8c8d;
}

.tab-v5 .nav-tabs > li > a:hover {
	border-bottom: 1px solid #7f8c8d;
}

.shop-subscribe {
		background:  #7f8c8d;
}

.footer-v4 .copyright a {
		color: #95a5a6;
}

.product-ratings li .rating-selected {
		color: #95a5a6;
}

.product-ratings li .rating {
		color: #f0f0f0;
}
.product-ratings li.like-icon a {
		color: #f0f0f0;
}

.product-ratings li.like-icon a:hover {
		color: #95a5a6;
}


.progress-bar-background-blue {
	background: #95a5a6
}

/* Shopping cart*/
.btn-u.btn-brd.btn-u-sea-shop {
		border-color: #95a5a6;
		color: #95a5a6;
}

.btn-u.btn-brd.btn-u-sea-shop:hover {
		border-color: #95a5a6;
		color: #95a5a6;
}

.btn-u.btn-brd.btn-u-sea-shop.btn-brd-hover:hover {
		background:  #95a5a6;
}

.btn-u.btn-u-sea-shop {
	background-color: #95a5a6;
}
.btn-u.btn-u-sea-shop:hover {
		border-color: #95a5a6;
		background: #7f8c8d	;

}

.progress-bar {
  background-color: #95a5a6 !important;
}

/* Dark
------------------------------------*/
body.dark  .shop-product .product-size label:hover {
  color: #95a5a6;
  border-color: #95a5a6;
}

/* Sky form donate fund
------------------------------------*/
.sky-form .donate-fund a {
  color: #95a5a6;
}

/* Large Bars
------------------------------------*/
.squaresWaveG{
background-color:#95a5a6;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#95a5a6;
}

100%{
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#95a5a6;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#95a5a6;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#95a5a6 ;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#95a5a6;
}

100%{
background-color:#FFFFFF;
}

}
