<style>
  html, body {
    margin: 0;
    text-align: center;
    background: transparent;
  }

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  .campaign-card {
    margin: auto;
    width: 275px;
    background: #fff;
    font-family: 'Open Sans',sans-serif;
  }


  .fundCardHeader h1 {
    margin: 0 0 15px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    }

  .fundCardHeader .subtitle {
    margin: 10px 0;
    color: #333;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }
  .campaign-card a {
    text-decoration: none;
  }
  a img {
    border: 0;
  }
  .progress-amount-sm-right {
    color: #000;
  }
  .progress-amount-sm-left {
    color: #000;
  }
body.dark .bg-light i {
  color: #000;
}

body.dark .bg-light i.meme {
  color: #fff;
}

</style>
<div id="widget" ng-hide="isLoading">
  <div class="campaign-card">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-light">
          <div class="row">
            <div class="col-md-12">
              <a href ng-click="donate()"><img class="img-responsive center-block" ng-src="{{mainFundImage}}"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 fundCardHeader">
              <h1><b>{{fund.item.title}}</b></h1>
              <p class="subtitle">
                {{fund.item.shortSummary}}
              </p>
            </div>
          </div>

          <div class="row margin-bottom-10">
            <div class="col-md-12 testimonials">
              <div class="testimonial-info">
                <img class="rounded-x" ng-src="{{fund.originator.avatarUploadTempLocation}}" alt="{{fund.item.title}}">
                <span class="testimonial-author">
                  {{fund.originator.fullName}}
                  <em>Organizer</em>
                </span>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="progress" style="height: 37px; margin-bottom: 0">
                <div class="progress-bar pull-left" ng-style="fund.progressPercentage"></div>
              </div>
              <div class="row" style="margin: -33px 10px 10px 10px;">
                <div class="span6">
                  <div class="progress-amount-sm-left">
                    <div>
                      <i class="fa fa-heart"></i> ${{fund.totalDonation| number: 0}}
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <div class="progress-amount-sm-right">
                    <div class="meme">
                      <i class="fa fa-trophy"></i> ${{fund.goalAmount | number: 0}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row margin-bottom-10">
            <div class="col-md-4 col-xs-4">
              <p><b class="bigger-110">${{fund.goalAmount | number:0}}</b> Goal</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <p><b class="bigger-110">{{fund.donationList.length}}</b> Donation{{fund.donationList.length === 1 ? "":"s"}}</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <p><b class="bigger-110">${{fund.totalDonation | number:0}}</b> Raised</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <button class="btn-u btn-u-sm btn btn-block" ng-click="donate()"><i class="fa fa-heart-o meme"></i> DONATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="campaign-card" ng-show="isLoading">
  <div class="row">
    <div class="col-md-12">
      <md-spinner-bar-drctv />
    </div>
  </div>
</div>