<div class="modal-header">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-xs-8">
      <h3>Notification from {{record.note.firstName}}</h3>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-4 text-right">
      <button class="btn btn-lg btn-default" ng-click="cancel('close')"><i class="fa fa-times"></i></button>
    </div>
  </div>
</div>
<div class="modal-body">

  <div>
    <form class="sky-form">
      <fieldset>
        <div class="row">
          <div class="col-lg-3 col-xs-3">
            <h3>Details</h3>
          </div>
        </div>

        <div class="row">
          <section class="col col-4">
            <label class="input">
              <input type="text" class="form-control" id="firstName" name="firstName" ng-model="record.note.firstName" disabled />
            </label>
          </section>

          <section class="col col-4">
            <label class="input">
              <input type="text" class="form-control" id="lastName" name="lastName" ng-model="record.note.lastName" disabled />
            </label>
          </section>

          <section class="col col-4">
            <label class="textarea">
              <input type="email" class="form-control" name="email" ng-model="record.note.email" disabled />
            </label>
          </section>
        </div>

        <section>
          <label class="input">
            <textarea class="form-control textarea" rows="3" id="comments" name="comments" ng-model="record.note.comments" disabled></textarea>
          </label>
        </section>

      </fieldset>
    </form>
    <div class="margin-bottom-5">
    </div>
    <form class="sky-form" id="responseForm" name="responseForm">
      <fieldset>
        <div class="row">
          <div class="col-lg-3 col-xs-3">
            <h3>Respond</h3>
          </div>
          <div class="col-lg-9 col-xs-9 text-right">
            <h5>
              <small>to {{record.note.email}}</small>
            </h5>
          </div>
        </div>

        <section>
          <label class="input" ng-class="{'state-error': showValidationMessages && responseForm.response.$error.required}">
            <textarea class="form-control textarea" rows="3" placeholder="Respond to {{record.note.firstName}}" id="response" name="response" required ng-model="sender.comments"></textarea>
          </label>
          <div class="note" ng-class="{'note-error': showValidationMessages && responseForm.response.$error.required}">*required</div>
        </section>
      </fieldset>
    </form>


  </div>
</div>
<div class="modal-footer" ng-hide="isResponding">
  <button class="btn btn-lg btn-default" ng-click="cancel('cancel')">Cancel</button>
  <button class="btn btn-lg btn-primary" ng-click="respond()">Respond</button>
</div>
<div class="modal-footer" ng-show="isResponding">
  <md-spinner-bar-drctv />
</div>
