
<div class="modal-body donate-modal">
  <div ng-form="donationThankYouForm">
    <div class="donate-form">
      <div class="donate-fund ">
        
        <div class="row">
          <div class="col-lg-9 col-md-8 col-xs-8">
            <div class="headline">
              <h3>Email a Thank You Note</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-4 text-right">
            <button class="btn btn-default" ng-click="cancel('cancel')"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h5>
                <i>
                  Fill out the information below and an email will
                  be sent directly to the supporter
                </i>
              </h5>
            </div>
          </div>
        </div>
          
        <!-- Email -->
        <div class="row">
          <div class="col-md-12">
            <span class="bigger-140">Recipient: &nbsp;</span>
            <input class="form-control input-lg bloat" id="email" name="email" type="text" ng-model="donation.email" ng-disabled="true">
          </div>
        </div>
        <!--/Email-->

        <!-- Message -->
        <div class="row">
          <div class="col-md-12">
            <span class="bigger-140">Message: &nbsp;</span>
            <textarea class="form-control input-lg bloat" id="message" name="message" type="text" ng-model="donationNote.message" rows="3" required></textarea>
          </div>
        </div>
        <!--/Message-->

        <!--Footer-->
        <div class="row">
          <div class="col-md-12 pull-right">
            <button class="btn btn-u btn-u-lg btn-block" ng-click="ok()" ng-class="{'disabled': isSaving}">
              <i class="fa" ng-class="{'fa-check': !isSaving, 'fa-spinner fa-spin': isSaving}"></i> Save & Close
            </button>
          </div>
        </div>
        <!--/Footer-->

      </div>
    </div>
  </div>
</div>

