<div class="margin-bottom-10 margin-top-10 bg-light">
  <div class="headline">
    <h3>Optional Payment to Miracle's Operating Cost</h3>
    <div>
      <h5 style="margin-top: 10px;">
        <i>
          <a class="linked" ng-href="#" ng-click="modalPaymentUsage()">How Miracles Uses Payments »</a>
        </i>
      </h5>
    </div>

    <div class="row">
      <div class="col-md-10" ng-hide="isCustomAmount">
        <select class="form-control" ng-model="selectedFee" ng-change="onFeeSelect($event)" ng-options="item.name for item in dropdownItems" class="col-md-5"></select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10" ng-show="isCustomAmount">
        <label for="customDonationAmount">
          Enter your amount: <i class="color-red">*</i>
          <span class="color-red" ng-show="showValidationMessages && fundDonationForm.customDonationAmount.$error.number">
            <strong>[numbers only]</strong>
          </span>
        </label>
        <div class="row">
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon input-group-addon-md">$</span>
              <input class="form-control bloat" id="customDonationAmount" name="customDonationAmount" ng-model="selectedFee.levels[level].customAmount" type="number" va-whole-number-drctv placeholder="0">
              <span class="input-group-addon input-group-addon-md">.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
