<#@ template language="C#" debug="True" #>
<#@ assembly name="EnvDte" #>
<#@ output extension="js" #>
<#@ include file="T4Toolbox.tt" #>
<#
// <copyright file="mdConfig.tt" company="">
//  Copyright © .Maras, co All Rights Reserved.
// </copyright>

    var serviceProvider = Host as IServiceProvider;
    var dte = serviceProvider.GetService(typeof(EnvDTE.DTE)) as EnvDTE.DTE;
    string ConfigName = dte.Solution.SolutionBuild.ActiveConfiguration.Name;


#>

<# if (ConfigName == "Debug" || ConfigName == "DebugRelease") { #>
fundoloApp.constant("appUrl", {
    fundPrint: 'http://local.maras.co',
    shorty: 'local.fundingmiracles.com',
    base: 'http://local.fundingmiracles.com',
    api: 'http://api.local.fundingmiracles.com',
    facebook: {
      signInUrl: 'http://api.local.fundingmiracles.com/facebookauth.aspx?u='
    },
    defaultFundImage: '2154630987.png'
  })
  .constant("twitterConfiguration", {
    signInUrl: 'http://api.local.fundingmiracles.com/twitterauth.aspx?f=',
    tweetUrl: 'https://twitter.com/intent/tweet',
    countUrl: "http://cdn.api.twitter.com/1/urls/count.json"
  })
  .constant("wePayConst", {
    webUrl: 'https://stage.wepay.com',
    authUrl: 'https://stage.wepay.com/v2/oauth2/authorize',
    tokenUrl: 'https://stage.wepayapi.com/v2/oauth2/token',
    client_id: '181045', //staging,
    redirect_uri: 'http://local.fundingmiracles.com/wepay/authenticate',
    scope: 'manage_accounts,collect_payments,view_balance,view_user,send_money,refund_payments,preapprove_payments,manage_subscriptions',
    callback_uri: 'http://local.fundingmiracles.com/wepay/ipn',
    credit_card_number: '4003830171874018',
    endpoint: 'stage'
  }); 
<# } else if (ConfigName == "Release") {#>
fundoloApp.constant("appUrl", {  
    fundPrint: 'https://print.fundingmiracles.com',
    shorty: 'www.fundingmiracles.com', 
    base: 'https://www.fundingmiracles.com',
    api: 'https://api.fundingmiracles.com',
    facebook: {
      signInUrl: 'https://api.fundingmiracles.com/facebookauth.aspx?u=' 
    },
    defaultFundImage: '9406317528.png'
  })
.constant("twitterConfiguration", {
  signInUrl: 'https://api.fundingmiracles.com/twitterauth.aspx?f=',
  tweetUrl: 'https://twitter.com/intent/tweet',
  countUrl: "http://cdn.api.twitter.com/1/urls/count.json"
})
.constant("wePayConst", {
  webUrl: 'https://www.wepay.com',
  authUrl: 'https://www.wepay.com/v2/oauth2/authorize',
  tokenUrl: 'https://wwww.wepayapi.com/v2/oauth2/token',
  client_id: '135196', //production,
  //authUrl: 'https://stage.wepay.com/v2/oauth2/authorize',
  //tokenUrl: 'https://stage.wepayapi.com/v2/oauth2/token',
  //client_id: '181045', //staging,
  redirect_uri: 'https://www.fundingmiracles.com/wepay/authenticate',
  scope: 'manage_accounts,collect_payments,view_balance,view_user,send_money,refund_payments,preapprove_payments,manage_subscriptions',
  callback_uri: 'https://www.fundingmiracles.com/wepay/ipn',
  endpoint: 'production'
});
<# } else if (ConfigName == "Staging") { #> 
fundoloApp.constant("appUrl", {
    fundPrint: 'https://staging.maras.co',
    shorty: 'staging.fundingmiracles.com',
    base: 'https://staging.fundingmiracles.com',
    api: 'https://api-staging.fundingmiracles.com',
    facebook: {
      signInUrl: 'https://staging-api.fundingmiracles.com/facebookauth.aspx?u='
    },
   defaultFundImage: '9583106724.png'
  })
.constant("twitterConfiguration", {
  signInUrl: 'https://staging-api.fundingmiracles.com/twitterauth.aspx?f=',
  tweetUrl: 'https://twitter.com/intent/tweet',
  countUrl: "http://cdn.api.twitter.com/1/urls/count.json"
})
.constant("wePayConst", {
  webUrl: 'https://stage.wepay.com',
  authUrl: 'https://stage.wepay.com/v2/oauth2/authorize',
  tokenUrl: 'https://stage.wepayapi.com/v2/oauth2/token',
  client_id: '181045', //staging,
  redirect_uri: 'https://staging.fundingmiracles.com/wepay/authenticate',
  scope: 'manage_accounts,collect_payments,view_balance,view_user,send_money,refund_payments,preapprove_payments,manage_subscriptions',
  callback_uri: 'https://staging.fundingmiracles.com/wepay/ipn',
  credit_card_number: '4003830171874018',
  endpoint: 'stage'
}); 
<# } #>