<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="AngularJs" stopProcessing="true">
          <match url="(src/client/.*|src/client/libraries/.*|ckeditor/.*|app/.*|base/.*|assets/.*|src/.*|content/.*|scripts/.*|template/.*|api/.*|js/.*|images/.*|fonts/.*|styles/.*|robots.txt|favicon.ico)" />
          <action type="None" />
        </rule>
        <rule name="AngularJS2">
          <match url="(.*)" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <add name="iisnode_1" path="/src/server/app.js" verb="*" modules="iisnode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>