
<div class="modal-body">
  
  <div class="row">
    <div class="col-lg-9 col-md-8 col-xs-8">
      <div class="headline">
        <h3>Contact {{fund.originator.firstName}}</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-4 text-right">
      <button class="btn btn-lg btn-default" ng-click="close('cancel')"><i class="fa fa-times"></i></button>
    </div>
  </div>


  <form class="sky-form" id="sendMailContactForm" name="sendMailContactForm">
    <fieldset>
      <div class="row">
        <section class="col col-4">
          <label class="input" ng-class="{'state-error': showValidationMessages && sendMailContactForm.firstName.$error.required}">
            <input type="text" placeholder="First Name" class="form-control" required id="firstName" name="firstName" ng-model="sender.firstName" ng-maxlength="50" />
          </label>
          <div class="note" ng-class="{'note-error': showValidationMessages && sendMailContactForm.firstName.$error.required}">*required</div>
        </section>

        <section class="col col-4">
          <label class="input" ng-class="{'state-error': showValidationMessages && sendMailContactForm.lastName.$error.required}">
            <input type="text" placeholder="Last Name" class="form-control" required id="lastName" name="lastName" ng-model="sender.lastName" ng-maxlength="50" />
          </label>
          <div class="note" ng-class="{'note-error': showValidationMessages && sendMailContactForm.lastName.$error.required}">*required</div>
        </section>

        <section class="col col-4">
          <label class="textarea" ng-class="{'state-error': showValidationMessages && (sendMailContactForm.email.$error.required || sendMailContactForm.email.$invalid)}">
            <input type="email" placeholder="Email" class="form-control" required id="email" name="email" ng-model="sender.email" ng-maxlength="50" />
          </label>
          <div class="note" ng-class="{'note-error': showValidationMessages && sendMailContactForm.email.$error.required}">*required</div>
          <div class="note note-error" ng-show="showValidationMessages && sendMailContactForm.email.$invalid">*invalid</div>
        </section>
      </div>

      <div class="row">
        <div class="col-lg-3 col-xs-3">
          <h3>Message</h3>
        </div>
      </div>

      <section>
        <label class="input" ng-class="{'state-error': showValidationMessages && sendMailContactForm.message.$error.required}">
          <textarea class="form-control textarea" rows="3" placeholder="Your message" id="message" name="message" required ng-model="sender.message"></textarea>
        </label>
        <div class="note" ng-class="{'note-error': showValidationMessages && sendMailContactForm.message.$error.required}">*required</div>
      </section>

    </fieldset>
  </form>

</div>
<div class="modal-footer" ng-hide="isSending">
  <button class="btn-u btn-u-lg" ng-click="sendEmail()">Send Email</button>
</div>
<div class="modal-footer" ng-show="isSending">
  <md-spinner-bar-drctv />
</div>