<div class="profile margin-bottom-20">
    <!--Profile Blog-->
    <div class="row margin-bottom-20 profile-body" ng-repeat="row in itemRows track by $index" ng-hide="isLoading">
        <div class="col-sm-3 sm-margin-bottom-20" ng-repeat="column in itemColumns track by $index" ng-hide="hide($parent.$index * numberColumns + $index)">
            <div class="profile-blog" tooltip="Joined {{itemList[$parent.$index * numberColumns + $index].dateEntered | momentTo : 'dddd, MMMM Do, YYYY, h:mm a'}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                <md-avatar-drctv user="itemList[$parent.$index * numberColumns + $index]" classes="media-object rounded-x"></md-avatar-drctv>
                <div class="name-location">
                    <strong>{{itemList[$parent.$index * numberColumns + $index].firstName}} {{itemList[$parent.$index * numberColumns + $index].lastName}}</strong>
                </div>
                <hr>
                <ul class="list-inline share-list">
                    <li>
                        <i class="fa"
                           ng-class="{'fa-heart': itemList[$parent.$index * numberColumns + $index].userTypeId === 'Donor',
                 'fa-child': itemList[$parent.$index * numberColumns + $index].userTypeId === 'Supporter',
                 'fa-rocket': itemList[$parent.$index * numberColumns + $index].userTypeId === 'Fundraiser'}"></i> {{itemList[$parent.$index * numberColumns + $index].userTypeId}}
                    </li>
                </ul>
            </div>
        </div>
    </div><!--/end row-->
    <!--End Profile Blog-->

    <div ng-show="isLoading">
        <md-spinner-bar-drctv />
    </div>

    <div ng-show="totalItems > itemsPerPage" class="text-center">
        <ul uib-pagination 
            total-items    ="totalItems"
            ng-model       ="currentPage"
            max-size       ="maxSize"
            boundary-links ="true"
            rotate         ="false"
            items-per-page ="itemsPerPage"
            ng-change      ="onSelectPage(page)"></ul>
    </div>
</div>