/*Save Spinner*/
.squaresWaveG {
  background-color:#ADDFFF;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#ADDFFF;
}

100%{
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#ADDFFF;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#ADDFFF;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#ADDFFF;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#ADDFFF;
}

100%{
background-color:#FFFFFF;
}

}

.progress-bar {
  background-color: #ADDFFF !important;
}

.breadcrumbs {
  background-color: #ADDFFF;
  color: #ffffff
}

.breadcrumbs h1 {
  color: #ffffff!important;
}