.squaresWaveG{
background-color:#A74AC7;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#A74AC7;
}

100%{
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#A74AC7;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#A74AC7;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#A74AC7;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#A74AC7;
}

100%{
background-color:#FFFFFF;
}

}

.progress-bar {
  background-color: #A74AC7 !important;
}

.breadcrumbs {
  background-color: #A74AC7;
  color: #ffffff
}

.breadcrumbs h1 {
  color: #ffffff!important;
}