<div class="profile-body margin-bottom-20 tab-v1">
  <uib-tabset>
    <uib-tab active="tabActives.tab1">
      <uib-tab-heading>
        <i class="fa fa-envelope"></i> Email
      </uib-tab-heading>
      <div class="profile-edit tab-pane sky-form sky-form-noborder">
        <h2 class="heading-md">Manage when emails are sent</h2>
        <p>Below are the settings for email notifications based on user events</p>
        <br />
        <!-- Email Settings -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10 col-xs-10">
                <span class="panel-title"><i class="fa fa-envelope"> </i> Email:</span>
              </div>
              <div class="col-md-2 col-xs-2">
                <div ng-show="isSavingEmail" class="pull-right margin-top-5">
                  <md-spinner-bar-drctv spinner-type="barXSmall" />
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><span style="text-transform: uppercase">Receive email when your campaign gets:</span></th>
                <th><span style="text-transform: uppercase">Send to your supporters when:</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:50%">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailReceiveUserDonation" ng-checked="fund.settings.emailReceiveUserDonation"><i></i>New Donation
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailSendSupporter25Raised" ng-checked="fund.settings.emailSendSupporter25Raised"><i></i>25% Funds Raised
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailReceiveUserSupport" ng-checked="fund.settings.emailReceiveUserSupport"><i></i>New Supporter
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailSendSupporter50Raised" ng-checked="fund.settings.emailSendSupporter50Raised"><i></i>50% Funds Raised
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailReceiveUserFundraiser" ng-checked="fund.settings.emailReceiveUserFundraiser"><i></i>New Fundraiser
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailSendSupporter75Raised" ng-checked="fund.settings.emailSendSupporter75Raised"><i></i>75% Funds Raised
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailReceiveUserTeamMember" ng-checked="fund.settings.emailReceiveUserTeamMember"><i></i>New Team Member
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.emailSendSupporterFriendSupport" ng-checked="fund.settings.emailSendSupporterFriendSupport"><i></i>Their Facebook Friends Support
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <div>
              <button class="btn btn-u" type="button" ng-click="updateSettingsGroup('email')"><i class="fa fa-envelope"></i> {{emailButtonTitle}}</button>
            </div>
          </div>
        </div>
        <!--/Email Settings -->
      </div>
    </uib-tab>
    <uib-tab active="tabActives.tab2">
      <uib-tab-heading>
        <i class="fa fa-facebook"></i> Facebook
      </uib-tab-heading>
      <div id="facebook" class="profile-edit tab-pane sky-form sky-form-noborder">
        <h2 class="heading-md">Facebook Post Settings</h2>
        <p>Manage Facebook notifications based on changes to the fundraiser</p>
        <br />
        <!-- Facebook Settings -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10 col-xs-10">
                <span class="panel-title"><i class="fa fa-facebook"> </i> Facebook:</span>
              </div>
              <div class="col-md-2 col-xs-2">
                <div ng-show="isSavingFacebook" class="pull-right margin-top-5">
                  <md-spinner-bar-drctv spinner-type="barXSmall" />
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th><span style="text-transform: uppercase">Post when:</span></th>
                <th><span style="text-transform: uppercase">Post when someone:</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:50%">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostAddVideo" ng-checked="fund.settings.facebookPostAddVideo"><i></i> Add Video
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostUserSupport" ng-checked="fund.settings.facebookPostUserSupport"><i></i>Supports
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostAddImage" ng-checked="fund.settings.facebookPostAddImage"><i></i> Add Image
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostUserDonate" ng-checked="fund.settings.facebookPostUserDonate"><i></i> Donates
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostUpdate" ng-checked="fund.settings.facebookPostUpdate"><i></i>Post Update
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostUserFundraiser" ng-checked="fund.settings.facebookPostUserFundraiser"><i></i>Becomes a Fundraiser
                  </label>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('facebook')" ng-model="fund.settings.facebookPostUserComment" ng-checked="fund.settings.facebookPostUserComment"><i></i>Comments
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <div>
              <button class="btn btn-u" type="button" ng-click="updateSettingsGroup('facebook')"><i class="fa fa-facebook"></i> {{facebookButtonTitle}}</button>
            </div>
          </div>
        </div>
        <!--/Facebook Settings -->
      </div>
    </uib-tab>
    <uib-tab active="tabActives.tab3">
      <uib-tab-heading>
        <i class="fa fa-cog"></i> Configuration
      </uib-tab-heading>
      <div id="configuration" class="profile-edit tab-pane sky-form sky-form-noborder">
        <h2 class="heading-md">Manage your Payment Settings</h2>
        <p>Below are the payment options for your account.</p>
        <br />
        <!-- Configuration Settings -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10 col-xs-10">
                <span class="panel-title"><i class="fa fa-cog"> </i> Configuration:</span>
              </div>
              <div class="col-md-2 col-xs-2">
                <div ng-show="isSavingConfig" class="pull-right margin-top-5">
                  <md-spinner-bar-drctv spinner-type="barXSmall" />
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><span style="text-transform: uppercase">Payments:</span></th>
                <th><span style="text-transform: uppercase">Comments and Updates:</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:50%">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('config')" ng-model="fund.settings.allowAnonymousDonors" ng-checked="fund.settings.allowAnonymousDonors"><i></i> Allow Anonymous Donors
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('config')" ng-model="fund.settings.allowCommenting" ng-checked="fund.settings.allowCommenting"><i></i>Allow Comment
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('config')" ng-model="fund.settings.allowRecuringPayments" ng-checked="fund.settings.allowRecuringPayments"><i></i> Allow Recurring Payments
                  </label>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('config')" ng-model="fund.settings.usePaymentModal" ng-checked="fund.settings.usePaymentModal"><i></i>Use Payment Modal
                  </label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <div>
              <button class="btn btn-u" type="button" ng-click="updateSettingsGroup('config')"><i class="fa fa-cogs"></i> {{configButtonTitle}}</button>
            </div>
          </div>
        </div>
        <!--/Configuration Settings-->
      </div>
    </uib-tab>
    <uib-tab active="tabActives.tab4">
      <uib-tab-heading>
        <i class="fa fa-flash"></i> Status
      </uib-tab-heading>
      <div id="status" class="profile-edit tab-pane sky-form sky-form-noborder">
        <h2 class="heading-md">Fund Status Settings.</h2>
        <p>Change the status of your fundraiser to show/hide or discontinue.</p>
        <br />
        <!-- Fund Status -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10 col-xs-10">
                <span class="panel-title"><i class="fa fa-flash"> </i> Status:</span>
              </div>
              <div class="col-md-2 col-xs-2">
                <div ng-show="isSavingStatus" class="pull-right margin-top-5">
                  <md-spinner-bar-drctv spinner-type="barXSmall" />
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><span style="text-transform: uppercase">Payments:</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="radio">
                    <input type="radio" name="radio" ng-model="fund.item.statusId" value="Active" ng-click="updateStatus('Active')"><i class="rounded-x"></i> <b>Active</b> - Campaign is live to the public and ready to accept donations
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="radio">
                    <input type="radio" name="radio" ng-model="fund.item.statusId" value="Expired" ng-click="updateStatus('Expired')"><i class="rounded-x"></i> <b>Completed</b> - Campaign is set to completed and no donations can be accepted
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="radio">
                    <input type="radio" name="radio" ng-model="fund.item.statusId" value="Hidden" ng-click="updateStatus('Hidden')"><i class="rounded-x"></i> <b>Hidden</b> - Campaign is only visible to you and private to the outside world
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="radio">
                    <input type="radio" name="radio" ng-model="fund.item.statusId" value="Private" ng-click="updateStatus('Private')"><i class="rounded-x"></i> <b>Private</b> - Campaign is only visible to you and anyone who knows the web address
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/Fund Status-->
      </div>
    </uib-tab>
    <uib-tab active="tabActives.tab5">
      <uib-tab-heading>
        <i class="fa fa-heart"></i> Donations
      </uib-tab-heading>
      <div class="profile-edit tab-pane sky-form sky-form-noborder">
        <h2 class="heading-md">Manage how all donations are displayed publicly</h2>
        <p>
          Change the donation settings below to show or hide donors and amounts.  If
          a donor has specifically requested to make themselves or their amounts anonymous,
          their request will be recognized regardless of what is selected below.
        </p>
        <br />
        <!-- Email Settings -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10 col-xs-10">
                <span class="panel-title"><i class="fa fa-heart"> </i> Donation:</span>
              </div>
              <div class="col-md-2 col-xs-2">
                <div ng-show="isSavingDonation" class="pull-right margin-top-5">
                  <md-spinner-bar-drctv spinner-type="barXSmall" />
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><span style="text-transform: uppercase">When donations are displayed publicly</span></th>
                <th><span style="text-transform: uppercase"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:50%">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.donationHideDonorName" ng-checked="fund.settings.donationHideDonorName"><i></i>Hide Donor Name
                  </label>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" ng-change="updateSettings('email')" ng-model="fund.settings.donationHideAmount" ng-checked="fund.settings.donationHideAmount"><i></i>Hide Donation Amount
                  </label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <div>
              <button class="btn btn-u" type="button" ng-click="updateSettingsGroup('donation')"><i class="fa fa-envelope"></i> {{donationButtonTitle}}</button>
            </div>
          </div>
        </div>
        <!--/Email Settings -->
      </div>
    </uib-tab>
  </uib-tabset>
</div>