<div class="panel panel-profile">
  <div class="panel-heading overflow-h">
    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-support"></i> Supporters</h2>
    <button class="btn btn-u btn-u-default pull-right" ng-click="viewAll()"
            tooltip="View All Supporters"
            tooltip-trigger="mouseenter"
            tooltip-placement="bottom">
      <i class="fa fa-list "></i>
    </button>
  </div>
  <div id="supporterScrollbar" class="panel-body contentHolder-md">
    <div ng-repeat="supporter in supporters | orderBy:'dateEntered':true" ng-class="$index | blockColor:'alert-blocks-'" class="alert-blocks alert-dismissable">
      <md-avatar-drctv user="supporter.aspNetUser" classes="rounded-x" alt="{{supporter.aspNetUser.firstName}} {{supporter.aspNetUser.lastName}} is now supporting this campaign"></md-avatar-drctv>
      <div class="overflow-h">
        <strong class="color-dark">{{supporter.aspNetUser.firstName}} {{supporter.aspNetUser.lastName}} ({{supporter.userTypeId}})<small class="pull-right"><em>{{supporter.dateEntered | momentFrom}}</em></small></strong>
        <p> is now supporting your campaign</p>
      </div>
    </div>
  </div>
</div>