

<div class="modal-body donate-modal" ng-form="createTeamForm">
  <div class="donate-form">
    <div class="donate-fund ">

      <div class="row">
        <div class="col-lg-9 col-md-8 col-xs-8">
          <div class="headline">
            <h3>Your teams</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4 text-right">
          <button class="btn btn-default" ng-click="close('cancel')"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="headline">
            <h5 style="margin-top: 10px;">
              <i>
                Creating a team is an effective way to ensure success of your campaign.
              </i>
            </h5>
          </div>
        </div>
      </div>


      <!-- Name -->
      <div class="row margin-bottom-10">
        <div class="col-md-12">
          <div class="billing-info-inputs">
            <label class="input" ng-class="{'state-error': showValidationMessages && createTeamForm.teamName.$error.required}">
              <input class="form-control" id="teamName" name="teamName" type="text" ng-model="fundTeam.team.name" required placeholder="Team Name">
            </label>
          </div>
        </div>
      </div>

      <!--/Name-->
      <!-- Captain -->

      <div class="row margin-bottom-10" ng-show="isEdit">
        <div class="col-md-12">
          <div class="billing-info-inputs">
            <label class="input">
              <input class="form-control" id="teamCaptainEmail" name="teamCaptainEmail" type="email" ng-model="fundTeam.captainEmail" placeholder="Team Captain email">
            </label>
          </div>
        </div>
      </div>

      <!--/Captain-->
      <!--Goal-->

      <div class="row margin-bottom-20">
        <div class="col-md-12 shopping-cart">
          <div class="billing-info-inputs">

            <div class="product-quantity sm-margin-bottom-20">
              <button type="button" class="quantity-button"><i class="fa fa-dollar"></i></button>
              <input class="dollar-field-med" id="goalAmount" name="goalAmount" ng-model="fundTeam.goalAmount" type="number" min="50" va-whole-number-drctv required placeholder="Goal" />
            </div>

            <span class="color-red" ng-show="showValidationMessages && createTeamForm.goalAmount.$error.required">
              <strong>Please enter your team's goal target</strong>
            </span>

            <span class="color-red" ng-show="showValidationMessages && createTeamForm.goalAmount.$error.min && !createTeamForm.goalAmount.$error.number">
              <strong>Goal amount must be greater than $50.00</strong>
            </span>

          </div>
        </div>
      </div>

      <!--/Goal-->

      <div class="row">
        <div class="col-md-12">
          <div>
            <button class="btn btn-u btn-u-lg btn-block" ng-click="save()" ng-class="{'disabled': isSaving}"><i class="fa" ng-class="{'fa-check': !isSaving, 'fa-spinner fa-spin': isSaving}"></i> Save</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
