<!--=== Page Title ===-->
<div class="row breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Find a Fundraiser</h1>
  </div>
  <!--/container-->
</div>
<!--/title-->

<!--=== End Page Title ===-->

<!--=== Content Part ===-->
<div class="content-xxxs container searchContainer">
  <div class="row">
    <div class="col-md-3 filter-by-block">
      <h1>Filter By</h1>

      <div class="panel-group" id="accordion-v1">
        <div class="panel panel-default">
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <input class="form-control"
                     type="text"
                     ng-model="searchSelected"
                     ng-change="checkInput(searchSelected)"
                     placeholder="Search for Funds"
                     typeahead="fund for fund in search(1, $viewValue)"
                     typeahead-loading="loadingFunds"
                     typeahead-min-length="1"
                     typeahead-on-select="onCategorySelect($item, $model, $label)"
                     select-on-click>
              <i ng-show="loadingFunds" class="glyphicon glyphicon-refresh"></i>
            </div>
          </div>
        </div>
      </div><!--/end panel group-->

      <div class="panel-group hidden-sm hidden-xs" id="accordion-v2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                Categories
                <i class="fa fa-angle-down"></i>
              </a>
            </h2>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="list-unstyled checkbox-list">

                <li ng-repeat="category in categories">
                  <label class="checkbox">
                    <input type="checkbox" name="checkCategories" ng-click="setCategory(category.identification)" ng-checked="category.selected" />
                    <i></i>
                    {{category.friendlyName}}
                    <small><a href="#">({{category.fundCount}})</a></small>
                  </label>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div><!--/end panel group-->

      <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-block hidden-sm hidden-xs" ng-click="reset()">Reset</button>
    </div><!--/end filter section-->

    <div class="col-md-9" ng-hide="isLoading">
      <div class="row margin-bottom-5">
        <div class="col-sm-4 result-category hidden-xs">
          <h2>Search</h2>
          <small class="shop-bg-red badge-results">{{totalItems}} Results</small>
        </div>
        <div class="col-sm-8">
          <ul class="list-inline clear-both">
            <li class="grid-list-icons">
              <a href="#" ng-click="resultType = 'list'"><i class="fa fa-th-list"></i></a>
              <a href="#" ng-click="resultType = 'grid'"><i class="fa fa-th"></i></a>
            </li>
            <li class="sort-list-btn">
              <h3>Sort By :</h3>
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                  {{sortTitle}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="sort('popularity', 'Popularity')">Popularity</a></li>
                  <li><a href="#" ng-click="sort('title', 'Title')">Title</a></li>
                  <li><a href="#" ng-click="sort('ending', 'Ending Soonest')">Ending Soonest</a></li>
                  <li><a href="#" ng-click="sort('newest', 'New Arrived')">New Arrived</a></li>
                </ul>
              </div>
            </li>
            <li class="sort-list-btn hidden-xs">
              <h3>Show :</h3>
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                  {{itemsPerPage}} <span class="caret"></span>
                </button>
                <ul ng-click="isOpen = false" class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="show(3)">3</a></li>
                  <li><a href="#" ng-click="show(9)">9</a></li>
                  <li><a href="#" ng-click="show(27)">27</a></li>
                  <li><a href="#" ng-click="show(108)">108</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div><!--/end result category-->

      <div class="filter-results" ng-show="resultType === 'grid'">
        <div class="row illustration-v2 margin-bottom-30" ng-repeat="row in itemRows track by $index">
          <div class="col-md-4 col-xs-4" ng-repeat="column in itemColumns track by $index" ng-hide="hide($parent.$index * numberColumns + $index)">
            <fd-widgets-fund-drctv fund="funds[$parent.$index * numberColumns + $index]"></fd-widgets-fund-drctv>
          </div>
        </div>
      </div><!--/end filter results-->

      <div class="filter-results" ng-show="resultType === 'list'">
        <div ng-repeat="fund in funds">
          <fd-widgets-fundv2-drctv fund="fund"></fd-widgets-fundv2-drctv>
        </div>
      </div><!--/end filter results-->

      <div ng-show="totalItems > 0" class="text-center">
          <ul uib-pagination
              total-items="totalItems"
              ng-model="currentPage"
              max-size="maxSize"
              boundary-links="true"
              rotate="false"
              ng-change="onSelectPage(page)"
              items-per-page="itemsPerPage"></ul>
      </div><!--/end pagination-->
    </div>

    <div class="col-md-9" ng-show="isLoading">
      <md-spinner-bar-drctv />
    </div>
  </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->