<div class="modal-body donate-modal">
  <div ng-form="fundEditDateForm">
    <div class="donate-form">
      <div class="donate-fund ">

        <div class="row">
          <div class="col-lg-9 col-md-8 col-xs-8">
            <div class="headline">
              <h3>Change Date</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-4 text-right">
            <button class="btn btn-lg btn-default" ng-click="close('cancel')"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h5 style="margin-top: 10px;">
                <i>
                  We've noticed that providing an end date gives your donors a sense of urgency
                  and therefore are more likely to donate in timely manner.  You can choose to continue
                  accept donations even after your campaign ends.  
                </i>
              </h5>
            </div>
          </div>
        </div>
        <div class="row box">
          <div class="col-md-12 shopping-cart">
            <div class="billing-info-inputs">
                <label class="input" ng-class="{'state-error': showValidationMessages && fundEditDateForm.endDate.$error.required}">
                    <i class="icon-append fa fa-calendar" ng-click="open()"></i>
                    <input name="fundDateExpire"
                           type="text"
                           uib-datepicker-popup="M/dd/yyyy"
                           ng-model="endDate"
                           show-weeks="showWeeks"
                           is-open="opened"
                           min="minDate"
                           datepicker-options="dateOptions"
                           min-date="minDate"
                           ng-required="true" />
                </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-hide="isSaving">
              <button class="btn-u btn-u-lg btn-block" ng-click="save()"><i class="fa fa-check"></i> Save</button>
            </div>
            <div ng-show="isSaving">
              <md-spinner-bar-drctv />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>