<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="oauth_token" value="2483711791-SNkyvaPgO1REEJrqJZgArKBEeFrG2j4JNr0ucUV" />
    <add key="oauth_token_secret" value="09Eb6tTTQJaDTPaXIdKQ2E1S1auOWoRuDkXLq3bcLZusD" />
    <add key="oauth_consumer_key" value="jnFjsMkvF6n8fWtHMe4jAp0l4" />
    <add key="oauth_consumer_secret" value="YPXP9PKRASzJ9PIc7FLal9K5mjFYOVNh8MPfeIYhaM2QsVCpqt" />
    <add key="oauth_callback" value="http://local.fundingmiracles.com" />
    <add key="oauth_version" value="1.0" />
    <add key="oauth_signature_method" value="HMAC-SHA1" />
    <add key="resource_url" value="https://api.twitter.com/oauth/request_token" />
    <add key="CallbackUrl" value="api.local.fundingmiracles.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>