<script type="text/javascript">
    try { ace.settings.check('navbar', 'fixed') } catch (e) { }
</script>

<div class="navbar-container" id="navbar-container">

    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <!-- #section:basics/navbar.layout.brand -->
        <a class="navbar-brand">
            <small>
                <img class="headerLogo" src="/images/inspinia/Administrative_Tools_Transparent.png" title="{{vm.headertitle}}" alt="{{vm.headertitle}}">
                    {{vm.headertitle}}
                </small>
        </a>
        <!-- /section:basics/navbar.layout.brand -->
        <!-- #section:basics/navbar.toggle -->
        <!-- /section:basics/navbar.toggle -->
    </div>
    <!-- #section:basics/navbar.dropdown -->

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="/images/avatar2.png" alt="Jason's Photo" />
                    <span class="user-info">
                            <small>Welcome,</small>
                            {{vm.authentication.firstName}}
                        </span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a ui-sref="inspinia.account.profile">
                            <i class="ace-icon fa fa-user"></i> Profile
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href ng-click="vm.logout()">
                            <i class="ace-icon fa fa-power-off"></i> Logout
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <!-- /section:basics/navbar.dropdown -->
    <!-- /.navbar-container -->
</div>