<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="CloudStorageConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=miracleslocal;AccountKey=ahJfLn7IM49E7e5aVebXeDYcI802jYWV1beTzibIoHwlhfgQ2R+EUlDlJ56ywWHwswnpwtvHoKPZyPgVZTQlfg==;EndpointSuffix=core.windows.net" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(key)" />
    <add key="CallbackUrl" value="http://api.local.fundingmiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentServer" value="http://local.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CurrentApiServer" value="http://api.local.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalRedirectOnError" value="http://local.fundingmiracles.com/authenticate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- We Pay Settings-->
    <add key="WepayAccessToken" value="STAGE_7804749ad0e22877902d35dbf71a82caebc1b54956a7f69a1010e22acbc21a3d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccountId" value="965286922" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientSecret" value="11f257ae2e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientId" value="181045" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayAuthorizationUri" value="https://stage.wepay.com/v2/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayTokenUri" value="https://stage.wepayapi.com/v2/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WePayApiUri" value="https://stage.wepayapi.com/v2/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="WePayAccountCreateCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterRedirect" value="http://local.fundingmiracles.com/fund/search"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawRedirect" value="http://local.fundingmiracles.com/account/withdraw"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawFallback" value="http://api.local.fundingmiracles.com/api/wepay/withdrawfallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayCreditCardCreateCallback" value ="http://local.fundingmiracles.com/wepay/ipn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- /We Pay Settings-->
    
    <!--Segment[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentWriteKey"   value="XszdLj7BiV1IjgfLMdM1FAg9i3CKZu9K"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentReadKey"    value="XTVS6rxs6i64AncJUHi2gf7PVYoyM0r7"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentProjectKey" value="A5JjAaFoZa"/>
    <!-- /Segment[Analytics]-->

    <!--Google[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleApiKey"      value="AIzaSyCTZ6Gfh9Bf9bT-xn0H6KVNA6rS1-kjmS0"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleFundoloIds"  value="ga:97380510"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleServiceAccountEmail" value="18712025073-os65euf3r8623sj25rupbajr2vcs88t4@developer.gserviceaccount.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleCertificateFingerPrints" value="1cd53cb74a0ec708f67cdf4c957dcdef18663017" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientId" value="18712025073-os65euf3r8623sj25rupbajr2vcs88t4.apps.googleusercontent.com"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleKeyFilePath" value="fM-Development.p12"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GaqDomains" value="UA-59005510-3"/>
    <!-- /Google[Analytics]-->

    <!--MailChimp Settings-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpApiKey" value="5b1cfefd0fa72b0effd9d0852eda71c1-us3"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultList" value="23ad03c4b6"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultEmailType" value="html"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpWorkflowFundraiserActive" value="e35b4b2f0b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcome" value="9328a8d97a"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcomeTrigger1" value="14ac36e46b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActive" value="4f6734242b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActiveTrigger1" value="6c5b037126"/>
    <!--/MailChimp Settings-->
  </appSettings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
