<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MalldubDataContext"
      connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=tcp:malldub.database.windows.net,1433;Initial Catalog=Malldub;User ID=CloudSAf0554648; Password=RaC0nt@Ur;Integrated Security=False&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
      connectionString="Server=tcp:malldub.database.windows.net,1433;Database=Malldub;User ID=CloudSAf0554648;Password=RaC0nt@Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=miracles;AccountKey=lzJJV4UB0SikM/iVU62A1pCAbx4vxtBSul/PtkTjjqiyQa2BNAbwliSffsqRLWgiXEa9bsPFScnjLXjrzeiRvA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CallbackUrl" value="https://api.fundingmiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentServer" value="https://www.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentApiServer" value="https://api.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalRedirectOnError" value="https://www.fundingmiracles.com/authenticate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--We Pay Settings-->
    <add key="ProductionMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccessToken" value="PRODUCTION_8dbee6ecd3f7dae5eb8df2ba98cbc760031d7a3d2cb4da7bcdfebbb830843436" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayAccountId" value="460680362" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientSecret" value="f09d90d77f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientId" value="135196" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayAuthorizationUri" value="https://www.wepay.com/v2/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayTokenUri" value="https://www.wepayapi.com/v2/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayApiUri" value="https://www.wepayapi.com/v2/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="WePayAccountCreateCallback" value="https://api.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterCallback" value="https://api.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterRedirect" value="https://www.fundingmiracles.com/fund/search"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawRedirect" value="https://www.fundingmiracles.com/account/withdraw"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawCallback" value="https://api.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawFallback" value="https://api.fundingmiracles.com/api/wepay/withdrawfallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayCreditCardCreateCallback" value ="https://api.fundingmiracles.com/wepay/ipn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- /We Pay Settings-->
    
    <add key="MandrillToken" value="jduOXpbvFLJJPpZy05lwjg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Segment[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentWriteKey"   value="gIu65u85EtQaAZ1PsAFV1CSh859FMvs2"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentReadKey"    value="gPCu4eByeg2OA1SMqXfQ2Pn4Z7WeXlYn"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentProjectKey" value="ZJEnTXUHeD"/>
    <!-- /Segment[Analytics]-->

    <!--Google[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleApiKey"   value="AIzaSyA6xUMFO4g6vzCoWs5zqybCnI5U3bCOqvg"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleFundoloIds"  value="ga:96934116"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleServiceAccountEmail" value="774257414562-qc1bi0e1dd3d21fomum0cn4q17erd0f5@developer.gserviceaccount.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleCertificateFingerPrints" value="7cb1d02bd979eabc27529d5966c15232af4db147" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientId" value="774257414562-qc1bi0e1dd3d21fomum0cn4q17erd0f5.apps.googleusercontent.com"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleKeyFilePath" value="fM-Production.p12"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GaqDomains" value="UA-59005510-1"/>
    <!-- /Google[Analytics]-->
    
    <!--MailChimp Settings-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpApiKey" value="59a52bf6c2e64627c779bb16a0b1f7e6-us3"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultList" value="53346312c3"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultEmailType" value="html"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpWorkflowFundraiserActive" value="ee0d508a59"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcome" value="5623676d28"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcomeTrigger1" value="14ac36e46b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActive" value="4f6734242b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActiveTrigger1" value="6c5b037126"/>
    <!--/MailChimp Settings-->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web> 
</configuration>
