<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="cacheManager" type="CodeSmith.Data.Caching.CacheManagerSection, CodeSmith.Data" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MalldubDataContext" connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=Superchargers;Initial Catalog=Marasco.Malldub;User ID=malldub_dbuser; Password=password;Integrated Security=False&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=superchargers;Initial Catalog=Marasco.Malldub;User ID=malldub_dbuser; Password=password" providerName="System.Data.SqlClient" />

    <!-- Connection strings 
    <add name="MalldubDataContext_Home" connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=Superchargers;Initial Catalog=Marasco.Malldub;User ID=malldub_dbuser; Password=password;Integrated Security=False&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection_Home" connectionString="Data Source=superchargers;Initial Catalog=Marasco.Malldub;User ID=malldub_dbuser; Password=password" providerName="System.Data.SqlClient" />
    
    <add name="MalldubDataContext_WorkLaptop" connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=sdl7-amarasco;Initial Catalog=Malldub;User ID=malldub_dbuser; Password=password;Integrated Security=False&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection_WorkLaptop" connectionString="Data Source=sdl7-amarasco\mssqlserver2012;Initial Catalog=Malldub;User ID=malldub_dbuser; Password=password" providerName="System.Data.SqlClient" />
    
    <add name="DefaultConnection_Local" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Malldub.WebApi-20131104055114.mdf;Initial Catalog=aspnet-Malldub.WebApi-20131104055114;Integrated Security=True" providerName="System.Data.SqlClient" /> 
    -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=miracleslocal;AccountKey=ahJfLn7IM49E7e5aVebXeDYcI802jYWV1beTzibIoHwlhfgQ2R+EUlDlJ56ywWHwswnpwtvHoKPZyPgVZTQlfg==;EndpointSuffix=core.windows.net" />
    <add key="ExternalRedirectOnError" value="http://local.fundingmiracles.com/authenticate" />
    <add key="CurrentServer" value="http://local.FundingMiracles.com" />
    <add key="CurrentApiServer" value="http://api.local.FundingMiracles.com" />
    <add key="DefaultImage" value="http://www.fundingmiracles.com/img/logo/250b.png" />
    
    <!-- Wepay Settings-->
    <add key="WepayAccessToken_Staging" value="STAGE_7804749ad0e22877902d35dbf71a82caebc1b54956a7f69a1010e22acbc21a3d" />
    <add key="WepayAccountId_Staging" value="965286922" />
    <add key="WepayClientSecret_Staging" value="11f257ae2e" />
    <add key="WepayClientId_Staging" value="181045" />
    <add key="WePayAuthorizationUri_Staging" value="https://stage.wepay.com/v2/oauth2/authorize" />
    <add key="WePayTokenUri_Staging" value="https://stage.wepayapi.com/v2/oauth2/token" />
    <add key="WePayApiUri_Staging" value="https://stage.wepayapi.com/v2/" />

    <add key="ProductionMode" value="false" />
    <add key="WepayAccessToken" value="PRODUCTION_8dbee6ecd3f7dae5eb8df2ba98cbc760031d7a3d2cb4da7bcdfebbb830843436" />
    <add key="WepayAccountId" value="460680362" />
    <add key="WepayClientSecret" value="f09d90d77f" />
    <add key="WepayClientId" value="135196" />
    <add key="WePayAuthorizationUri" value="https://www.wepay.com/v2/oauth2/authorize" />
    <add key="WePayTokenUri" value="https://wepayapi.com/v2/oauth2/token" />
    <add key="WePayApiUri" value="https://wepayapi.com/v2/" />
    
    <add key="WePayAccountCreateCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn" />
    <add key="WePayUserRegisterCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn" />
    <add key="WePayUserRegisterRedirect" value="http://local.fundingmiracles.com/fund/search" />
    <add key="WePayWithdrawRedirect" value="http://local.fundingmiracles.com/account/withdraw" />
    <add key="WePayWithdrawCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn" />
    <add key="WePayWithdrawFallback" value="http://local.fundingmiracles.com/account/basics" />
    <add key="WePayCreditCardCreateCallback" value="http://api.local.fundingmiracles.com/api/wepay/ipn" />
    
    <add key="WePayAccountImageUri" value="https://www.fundingmiracles.com/img/logo/250b.png" />
    <add key="WePayUserResendConfirmationMessage" value="Welcome to Funding Miracles on behalf of WePay!  In order to accept payments from your donors click 'Confirm' below to setup your payment account online.  Let's change the world together!" />
    <add key="WePayThankYouDonation" value="On Behalf of {0}, thank you for your support on {1}.  With your&#xD;&#xA;         generous giving, an overall total of {2} has been raised.  " />
    <!--/Wepay Settings-->
    
    <!-- Prerender Settings-->
    <add key="PrerenderToken" value="kfm4Jj5wiN3TDQEvgqlI" />
    
    <!-- Mandrill Settings-->
    <!-- DEBUG TOKEN <add key="MandrillToken" value="BNJGdXSQBI8ZgPI7SK8oPw"/>-->
    <add key="MandrillToken" value="jduOXpbvFLJJPpZy05lwjg" />
    <add key="MandrillFromEmail" value="support@fundingmiracles.com" />
    <add key="MandrillWelcomeTemplate" value="Fundolo.Welcome" />
    <add key="MandrillWelcomeSubject" value="Welcome to Funding Miracles.com!" />
    <add key="MandrillPostUpdateTemplate" value="Fundolo.PostUpdate" />
    <add key="MandrillResetPasswordTemplate" value="Fundolo.PasswordReset" />
    <add key="MandrillSendQuestionTemplate" value="Fundolo.SendQuestion" />
    <add key="MandrillThankYouNoteTemplate" value="Fundolo.ThankYouNote" />
    <add key="MandrillShareCampaignTemplate" value="Fundolo.ShareCampaign" />
    <add key="MandrillFundContactTemplate" value="Fundolo.FundContact" />
    <add key="MandrillSupportCampaignTemplate" value="Fundolo.Support" />
    <add key="MandrillNotificationTemplate" value="Fundolo.Notification" />
    <!-- /Mandrill Settings-->
    
    <!-- Twitter Settings-->
    <add key="CallbackUrl" value="http://api.local.fundingmiracles.com" />
    <add key="TwitterOauthToken" value="2483711791-SNkyvaPgO1REEJrqJZgArKBEeFrG2j4JNr0ucUV" />
    <add key="TwitterOauthTokenSecret" value="09Eb6tTTQJaDTPaXIdKQ2E1S1auOWoRuDkXLq3bcLZusD" />
    <add key="TwitterOauthConsumerKey" value="jnFjsMkvF6n8fWtHMe4jAp0l4" />
    <add key="TwitterOauthConsumerSecret" value="YPXP9PKRASzJ9PIc7FLal9K5mjFYOVNh8MPfeIYhaM2QsVCpqt" />
    <!-- /Twitter Settings-->
    
    <!--Segment[Analytics]-->
    <add key="SegmentWriteKey" value="XszdLj7BiV1IjgfLMdM1FAg9i3CKZu9K" />
    <add key="SegmentReadKey" value="gzyPmfyINOa9uukckbuAx1T5cHVgQNmR" />
    <add key="SegmentProjectKey" value="Q2mpWPwj5n" />
    <!-- /Segment[Analytics]-->

    <!--Google[Analytics]
    https://console.developers.google.com/project
    -->
    <add key="GoogleApiKey" value="AIzaSyCTZ6Gfh9Bf9bT-xn0H6KVNA6rS1-kjmS0" />
    <add key="GoogleFundoloIds" value="ga:97380510" />
    <add key="GoogleServiceAccountEmail" value="18712025073-os65euf3r8623sj25rupbajr2vcs88t4@developer.gserviceaccount.com" />
    <add key="GoogleCertificateFingerPrints" value="1cd53cb74a0ec708f67cdf4c957dcdef18663017" />
    <add key="GoogleClientId" value="18712025073-os65euf3r8623sj25rupbajr2vcs88t4.apps.googleusercontent.com" />
    <add key="GoogleKeyFilePath" value="fM-Development.p12" />
    <add key="GaqDomains" value="UA-59005510-3" />
    <!-- /Google[Analytics]-->
    
    <!--MailChimp Settings-->
    <add key="MailChimpApiKey" value="5b1cfefd0fa72b0effd9d0852eda71c1-us3" />
    <add key="MailChimpDefaultList" value="23ad03c4b6" />
    <add key="MailChimpDefaultEmailType" value="html" />
    <add key="MailChimpWorkflowFundraiserActive" value="4f6734242b" />
    <add key="MailChimpAutomationWelcome" value="9328a8d97a" />
    <add key="MailChimpAutomationWelcomeTrigger1" value="6677eaff8a" />
    <add key="MailChimpAutomationFundraiserActive" value="4f6734242b" />
    <add key="MailChimpAutomationFundraiserActiveTrigger1" value="6c5b037126" />
    <!--/MailChimp Settings-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" defaultLanguage="c#" maxBatchGeneratedFileSize="10000" maxBatchSize="10000" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <cacheManager defaultProvider="HttpCacheProvider" defaultProfile="Short">
    <profiles>
      <add name="Short" description="Short cache" duration="0:5:0" />
      <add name="ShortSliding" description="Short sliding cache" duration="0:5:0" mode="Sliding" group="MyGroup" />
      <add name="Long" description="Long cache" duration="1:0:0" />
      <add name="XLongSliding" description="Extra Long cache" duration="6:0:0" mode="Sliding" />
    </profiles>
    <providers>
    <add name="MemcachedProvider" description="MemcachedProvider" type="CodeSmith.Data.Memcached.MemcachedProvider, CodeSmith.Data.Memcached" />
    <add name="HttpCacheProvider" description="HttpCacheProvider" type="CodeSmith.Data.Caching.HttpCacheProvider, CodeSmith.Data" />
    </providers>
  </cacheManager>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
<system.webServer>
    <httpProtocol>
    <customHeaders>
      <remove name="X-Powered-By" />
      <add name="X-Frame-Options" value="Deny" />
    </customHeaders>
  </httpProtocol>
  <staticContent>
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
  </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>