<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MalldubDataContext"
      connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=tcp:koj0oql2ov.database.windows.net,1433;Initial Catalog=Malldub;User ID=amarasco@koj0oql2ov; Password=RaC0nt@Ur;Integrated Security=False&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
      connectionString="Server=tcp:koj0oql2ov.database.windows.net,1433;Database=Malldub;User ID=amarasco@koj0oql2ov;Password=RaC0nt@Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=miracles;AccountKey=lzJJV4UB0SikM/iVU62A1pCAbx4vxtBSul/PtkTjjqiyQa2BNAbwliSffsqRLWgiXEa9bsPFScnjLXjrzeiRvA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CallbackUrl" value="https://api.fundingmiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentServer" value="https://www.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentApiServer" value="https://api.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalRedirectOnError" value="https://www.fundingmiracles.com/authenticate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--We Pay Settings-->
    <add key="ProductionMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccessToken" value="STAGE_76465ca56ba626e6303a0dd1bd0c5269a80630abc12e582ed4e6a0ad602185f9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccountId" value="965286922" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientSecret" value="11f257ae2e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientId" value="181045" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayAuthorizationUri" value="https://stage.wepay.com/v2/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayTokenUri" value="https://stage.wepayapi.com/v2/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WePayApiUri" value="https://stage.wepayapi.com/v2/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="WePayAccountCreateCallback" value="https://api.fundingmiracles.com/api/wepay/accountcreatecallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterCallback" value="https://api.fundingmiracles.com/api/wepay/userregistercallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterRedirect" value="https://www.fundingmiracles.com/fund/search"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawRedirect" value="https://www.fundingmiracles.com/account/withdraw"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawCallback" value="https://api.fundingmiracles.com/api/wepay/withdrawcallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawFallback" value="https://api.fundingmiracles.com/api/wepay/withdrawfallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayCreditCardCreateCallback" value ="http://local.fundingmiracles.com/wepay/ipn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- /We Pay Settings-->

    <add key="MandrillToken" value="jduOXpbvFLJJPpZy05lwjg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Segment[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentWriteKey"   value="gIu65u85EtQaAZ1PsAFV1CSh859FMvs2"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentReadKey"    value="gPCu4eByeg2OA1SMqXfQ2Pn4Z7WeXlYn"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentProjectKey" value="ZJEnTXUHeD"/>
    <!-- /Segment[Analytics]-->

    <!--Google[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleApiKey"   value="AIzaSyA6xUMFO4g6vzCoWs5zqybCnI5U3bCOqvg"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleFundoloIds"  value="ga:96934116"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleServiceAccountEmail" value="774257414562-qc1bi0e1dd3d21fomum0cn4q17erd0f5@developer.gserviceaccount.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleCertificateFingerPrints" value="7cb1d02bd979eabc27529d5966c15232af4db147" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientId" value="774257414562-qc1bi0e1dd3d21fomum0cn4q17erd0f5.apps.googleusercontent.com"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleKeyFilePath" value="fM-Production.p12"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GaqDomains" value="UA-59005510-1"/>
    <!-- /Google[Analytics]-->

    <!--MailChimp Settings-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpApiKey" value="5b1cfefd0fa72b0effd9d0852eda71c1-us3"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultList" value="23ad03c4b6"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultEmailType" value="html"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpWorkflowFundraiserActive" value="e35b4b2f0b"/>
    <!--/MailChimp Settings-->
  </appSettings>
</configuration>