<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MalldubDataContext"
      connectionString="metadata=res://*/Malldub.csdl|res://*/Malldub.ssdl|res://*/Malldub.msl;provider=System.Data.SqlClient;provider connection string=&quot;App=EntityFramework;Data Source=tcp:h49jcfwoxb.database.windows.net,1433;Initial Catalog=Malldub;User ID=amarasco@h49jcfwoxb; Password=RaC0nt@Ur;Integrated Security=False&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
      connectionString="Server=tcp:h49jcfwoxb.database.windows.net,1433;Database=Malldub;User ID=amarasco@h49jcfwoxb;Password=RaC0nt@Ur;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="CloudStorageConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=miraclesstaging;AccountKey=BVK0eiG6c9gFcFY5Tcvbfb0MAnXnvxc9f6eHDnDP3qi9SjBsu70KmoF44/Gq+F/g3YE4pRzgqorv1bGXSmvCNg==" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(key)" />
    
    <add key="CallbackUrl" value="https://api-staging.fundingmiracles.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentServer" value="https://staging.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CurrentApiServer" value="https://api-staging.FundingMiracles.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalRedirectOnError" value="https://staging.fundingmiracles.com/authenticate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- We Pay Settings-->
    <add key="ProductionMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccessToken" value="STAGE_76465ca56ba626e6303a0dd1bd0c5269a80630abc12e582ed4e6a0ad602185f9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WepayAccountId" value="965286922" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientSecret" value="11f257ae2e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WepayClientId" value="181045" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayAuthorizationUri" value="https://stage.wepay.com/v2/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayTokenUri" value="https://stage.wepayapi.com/v2/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WePayApiUri" value="https://stage.wepayapi.com/v2/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="WePayAccountCreateCallback" value="https://api-staging.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterCallback" value="https://api-staging.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayUserRegisterRedirect" value="https://staging.fundingmiracles.com/fund/search"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawRedirect" value="https://staging.fundingmiracles.com/account/withdraw"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawCallback" value="https://api-staging.fundingmiracles.com/api/wepay/ipn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayWithdrawFallback" value="https://api-staging.fundingmiracles.com/api/wepay/withdrawfallback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WePayCreditCardCreateCallback" value ="http://api-staging.fundingmiracles.com/wepay/ipn" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- /We Pay Settings-->

    <!--Segment[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentWriteKey"   value="uX6LLxkdCrBLZ8GAWpp6ricJLrEAMzB8"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentReadKey"    value="XTVS6rxs6i64AncJUHi2gf7PVYoyM0r7"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SegmentProjectKey" value="A5JjAaFoZa"/>
    <!-- /Segment[Analytics]-->

    <!--Google[Analytics]-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleApiKey"   value="AIzaSyAnD4-K7-jcg_2gMCAjUYvZG9ZGNsXm9Ro"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleFundoloIds"  value="ga:96935910"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleServiceAccountEmail" value="786055856406-27064ab26toqmgmk980ogi1ld22mlj5d@developer.gserviceaccount.com" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleCertificateFingerPrints" value="e5c13f462b6cdcd160e0cc3de394dd4e1b351fdf" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleClientId" value="786055856406-27064ab26toqmgmk980ogi1ld22mlj5d.apps.googleusercontent.com"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GoogleKeyFilePath" value="fM-Staging.p12"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GaqDomains" value="UA-59005510-2"/>
    <!-- /Google[Analytics]-->

    <!--MailChimp Settings-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpApiKey" value="5b1cfefd0fa72b0effd9d0852eda71c1-us3"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultList" value="23ad03c4b6"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpDefaultEmailType" value="html"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpWorkflowFundraiserActive" value="e35b4b2f0b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcome" value="9328a8d97a"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationWelcomeTrigger1" value="14ac36e46b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActive" value="4f6734242b"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MailChimpAutomationFundraiserActiveTrigger1" value="6c5b037126"/>
    <!--/MailChimp Settings-->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>