<!--=== Breadcrumbs ===-->
<ac-dashboard-widgets-header-drctv headline="Change Your Password" active-tab="Password"></ac-dashboard-widgets-header-drctv>
<!--=== End Breadcrumbs ===-->
<!-- Page Error Summary-->
<div class="container">
  <div class="row" ng-show="showWarning">
    <div class="col-md-12">
      <div class="alert alert-danger fadeIn">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
    </div>
  </div>
</div>
<!-- //Page Error Summary -->
<!--=== Content Part -Body ===-->
<div class="container">
  <div class="row">
    <!--LEFT SECTION(BODY)-->
    <div class="col-md-8" ng-form="passwordForm">
      <!-- ??  -->
      <div class="row">
        <div class="col-md-7 headline">
          <h3>Password</h3>
          <div>
            <h5 style="margin-top: 10px;">
              <i>
                Passwords must be at least 6 characters long.
              </i>
            </h5>
          </div>
        </div>
        <!--<div class="col-md-5 margin-top-10">
          <button type="button" class="btn btn-link" ng-click="openCreateDonation()">Page link1</button>
          <button type="button" class="btn btn-link">Page link2</button>
          <button type="button" class="btn btn-link">Page link3</button>
        </div>-->
      </div>


      <div class="row">
        <div class="col-md-7 form-group">
          <div ng-hide="isSetPassword">
            <!-- Current Password -->
            <label for="oldPassword">
              Current Password:
              <span class="color-red" ng-show="showValidationMessages && passwordForm.oldPassword.$error.required"><strong>[required]</strong></span>
            </label>
            <input class="form-control bloat" id="oldPassword" name="oldPassword" type="password" ng-model="password.oldPassword" ng-required="!isSetPassword" placeholder="Old Password">
          </div>
          <!-- /Current Password -->

          <div class="row form-inline">
            <!-- New Password -->
            <div class="col-md-6 form-group">
              <label for="password">
                Password:
                <span class="color-red" ng-show="showValidationMessages && passwordForm.password.$error.required"><strong>[required]</strong></span>
              </label>
              <input class="form-control bloat" id="password" name="password" type="password" ng-model="password.newPassword" required placeholder="Password">
            </div>
            <!-- /New Password -->

            <!-- Confirm Password -->
            <div class="col-md-6 form-group">
              <label for="confirmPassword">
                Confirm Password:
                <span class="color-red" ng-show="showValidationMessages && passwordForm.confirmPassword.$error.required"><strong>[required]</strong></span>
                <span class="color-red" ng-show="showValidationMessages && !passwordForm.confirmPassword.$error.required && passwordForm.confirmPassword.$error.pwmatch"><strong>[passwords different]</strong></span>
              </label>
              <input class="form-control bloat" id="confirmPassword" name="confirmPassword" type="password" ng-model="password.confirmPassword" required va-password-check-drctv="password" placeholder="Confirm Password">
            </div>
            <!-- /Confirm Password -->
          </div>

          <!-- Buttons -->
          <div class="row" ng-hide="isSaving">
            <div class="col-md-12">
              <button class="btn-u btn-u-lg" type="button" ng-click="save()" ng-hide="isSaving"><i class="fa fa-check"></i> Save</button>
            </div>
          </div>

          <div class="row" ng-show="isSaving">
            <div class="col-md-12">
              <md-spinner-bar-drctv />
            </div>
          </div>
          <!-- /Buttons -->
        </div>
      </div>
    </div>
    <!--/LEFT SECTION(BODY)-->
    <!-- RIGHT SECTION -->
    <div class="col-md-4">
      <ac-dashboard-widgets-manage-drctv></ac-dashboard-widgets-manage-drctv>
    </div>
    <!-- /RIGHT SECTION -->
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part - Body ===-->