<!--=== Breadcrumbs ===-->
<ac-dashboard-widgets-header-drctv headline="My Profile" active-tab="Profile"></ac-dashboard-widgets-header-drctv>
<!--=== End Breadcrumbs ===-->
<!-- Page Error Summary-->
<div class="container">
  <div class="row" ng-show="showWarning">
    <div class="col-md-12">
      <div class="alert alert-danger fadeIn">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
    </div>
  </div>
</div>
<!-- //Page Error Summary -->
<!--=== Content Part -Body ===-->
<div class="container">

  <div class="row">

    <!--LEFT SECTION(BODY)-->
    <div class="col-md-8">
      <!-- ??  -->
      <div class="row">
        <div class="col-md-7 headline">
          <h3>Change your profile</h3>
          <div>
            <h5 style="margin-top: 10px;">
              <i>
                You may change all of your major profile settings here
              </i>
            </h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7" ng-form="profileForm" ng-hide="isLoading">
          <div class="form-group">
            <label for="address1">
              Address
              <span class="color-red" ng-show="showValidationMessages && profileForm.address1.$error.required"><strong>[required]</strong></span>
            </label>
            <input type="text" class="form-control bloat" name="address1" id="address1" ng-model="profile.address.address1" required ng-maxlength="50" maxlength="50" placeholder="Enter address">
          </div>
          <div class="form-group">
            <label for="city">
              City
              <span class="color-red" ng-show="showValidationMessages && profileForm.city.$error.required"><strong>[required]</strong></span>
            </label>
            <input type="text" class="form-control bloat" name="city" id="city" ng-model="profile.address.city" required ng-maxlength="50" maxlength="50" placeholder="Enter city">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control input-lg bloat" name="state" id="state" ng-model="selectedState" ng-options="s.identification as s.name for s in stateOptions"></select>
          </div>
          <div class="form-group">
            <label for="zip">
              Zip
              <span class="color-red" ng-show="showValidationMessages && profileForm.zip.$error.required"><strong>[required]</strong></span>
            </label>
            <input type="text" class="form-control bloat" name="zip" id="zip" placeholder="Enter zip" required ng-model="profile.address.zipCode">
          </div>
          <div class="form-group">
            <label for="phone">
              Phone Number
              <span class="color-red" ng-show="showValidationMessages && profileForm.phone.$error.required"><strong>[required]</strong></span>
            </label>
            <input type="text" class="form-control bloat" name="phone" id="phone" ng-model="profile.phone.number" required ui-mask="{{maskingAgent}}">
          </div>
          <div class="form-group">
            <label for="email">
              Email
              <span class="color-red" ng-show="showValidationMessages && profileForm.email.$error.required"><strong>[required]</strong></span>
              <span class="color-red" ng-show="showValidationMessages && !profileForm.email.$valid && !profileForm.email.$error.required">
                <strong>[Invalid Email]</strong>
              </span>
            </label>
            <input type="email" class="form-control bloat" name="email" id="email" ng-model="profile.email.emailAddress" required placeholder="Enter email">
          </div>

          <!-- Buttons -->
          <div class="row">
            <div class="col-md-12 form-group">
              <div ng-hide="isSaving">
                <button type="button" class="btn-u btn-u-lg" ng-click="save()"><i class="fa fa-check"></i> Save</button>
              </div>

              <div ng-show="isSaving">
                <md-spinner-bar-drctv />
              </div>
            </div>
          </div>
          <!-- /Buttons -->
        </div>
      </div>

      <div class="row" ng-show="isLoading">
        <md-spinner-bar-drctv />
      </div>
    </div>
    <!--/LEFT SECTION(BODY)-->
    <!-- RIGHT SECTION -->
    <div class="col-md-4">
      <ac-dashboard-widgets-manage-drctv></ac-dashboard-widgets-manage-drctv>
    </div>
    <!-- /RIGHT SECTION -->

  </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part - Body ===-->