<div>
    <div class="row">
        <div class="col-md-12">
            <div ng-hide="isLoading" ng-repeat="donation in items | orderBy:'dateEntered':true | limitTo:10">
                <div class="row" tooltip="{{donation.message}} - {{donation.dateEntered | date}}" tooltip-trigger="mouseenter" tooltip-placement="top">
                    <div class="col-md-12">
                        <div class="bg-light">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 margin-top-10">
                                    <md-avatar-drctv user="donation.user" classes="img-thumbnail rounded-x lft-img-margin rgt-img-margin"></md-avatar-drctv>
                                </div>

                                <div class="col-md-8 col-xs-7">
                                    <div class="row margin-left-10">
                                        <div ng-hide="donation.isPrivateDonorName">
                                            <h4><b>{{donation.donorName}}</b></h4>
                                        </div>
                                        <div ng-show="donation.isPrivateDonorName">
                                            <h4><b>Anonymous</b></h4>
                                        </div>
                                        <div ng-hide="donation.isPrivateAmount">
                                            <strong>${{donation.beneficiaryAmount | number : 0}}</strong> Donation
                                        </div>
                                        <div ng-show="donation.isPrivateAmount">
                                            <strong>Anonymous</strong> Donation
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isLoading">
                <md-spinner-bar-drctv />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-show="totalItems > itemsPerPage" class="text-center">
                <ul uib-pagination
                    total-items="totalItems"
                    ng-model="currentPage"
                    max-size="maxSize"
                    boundary-links="true"
                    first-text="«|"
                    last-text="»|"
                    previous-text="«"
                    next-text="»"
                    items-per-page="itemsPerPage"
                    ng-change="onSelectPage(page)"></ul>
            </div>
        </div>
    </div>
</div>