<p class="input-group">

    <input type="text" class="form-control date-picker" datepicker-popup="MM/dd/yyyy" name="{{inputName}}"
           ng-model="inputValue" is-open="opened" min-date="min" max-date="max"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           close-text="Close"
           ng-change="dateChanged()" date-only ng-required="dateRequired" placeholder="mm/dd/yyyy" /><span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar" ng-click="open($event)"></i>
    </span>
</p>
