<div ng-controller="Footer as vm">
    <ht-footer footer-title="$root.appFooterTitle">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">
                        {{$root.appFooterTitle}}
                    </span>  &copy; {{vm.currentYear}}
                </span>
            </div>
            <!-- /section:basics/footer -->
        </div>
    </ht-footer>
</div>