@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.logo-header {
height: 39px;
}

.progress-amount-md-left {
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #ccc; 
	float: left; 
	padding: 5px 10px 5px 10px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.progress-amount-md {
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #ccc; 
	float: right; 
	padding: 5px 10px 5px 10px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.progress-amount-sm-left {
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ccc; 
	float: left; 
	padding: 5px 10px 5px 10px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.progress-amount-sm-right {
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ccc; 
	float: right; 
	padding: 5px 10px 5px 10px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.progress-amount-sm {
	font-size: 11px;
	font-weight: bold;
	width: 100%;
	float: left; 
	border: 1px solid #ccc; 
	padding: 3px 5px 5px 3px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.progress-amount-xs {
	font-size: 10px;
	font-weight: bold;
	width: 100%;
	float: left; 
	border: 1px solid #ccc; 
	padding: 3px 5px 5px 3px; -ms-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #fff
}

.h4-donation {
	margin-top: 10px;
}
.it {
	font-style: italic;
}

.line-height-28 {
	line-height: 28px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-left-100 {
	margin-left: 100px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-10 {
	margin: 10px;
}

.margin-5 {
	margin: 5px;
}

.big {
	font-size: larger;
}

.bigger-110 {
	font-size: 110%;
}
.bigger-120 {
	font-size: 120%;
}
.bigger-130 {
	font-size: 130%;
}
.bigger-140 {
	font-size: 140%;
}
.bigger-150 {
	font-size: 150%;
}
.bigger-160 {
	font-size: 160%;
}
.bigger-170 {
	font-size: 170%;
}
.bigger-180 {
	font-size: 180%;
}
.bigger-190 {
	font-size: 190%;
}
.bigger-200 {
	font-size: 200%;
}
.bigger-210 {
	font-size: 210%;
}
.bigger-220 {
	font-size: 220%;
}
.bigger-230 {
	font-size: 230%;
}
.bigger-240 {
	font-size: 240%;
}
.bigger-250 {
	font-size: 250%;
}
.bigger-260 {
	font-size: 260%;
}
.bigger-270 {
	font-size: 270%;
}
.bigger-280 {
	font-size: 280%;
}
.bigger-290 {
	font-size: 290%;
}
.bigger-300 {
	font-size: 300%;
}
.bigger-125 {
	font-size: 125%;
}
.bigger-175 {
	font-size: 175%;
}
.bigger-225 {
	font-size: 225%;
}
.bigger-275 {
	font-size: 275%;
}
.smaller-90 {
	font-size: 90%;
}
.smaller-80 {
	font-size: 80%;
}
.smaller-70 {
	font-size: 70%;
}
.smaller-60 {
	font-size: 60%;
}
.smaller-50 {
	font-size: 50%;
}
.smaller-40 {
	font-size: 40%;
}
.smaller-30 {
	font-size: 30%;
}
.smaller-20 {
	font-size: 20%;
}
.smaller-75 {
	font-size: 75%;
}

.donation-message {
	min-height: 30px;
}

/*Fund Page
------------------------------------*/
.donation-headline {
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
}

.donation-headline-hidden {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	color: #95a5a6;
}

.donation-amount-list {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	padding-top: 5px;
}

.datetime-ago {
	margin: 3px 0 6px 0;
	font-size: 14px;
	color: #999;
	line-height: 17px;
	font-style: italic;
}

/*Buttons
------------------------------------*/
.btn-md {
	color: #fff;
	-ms-text-shadow: 0 -1px 0 #000000;
	-ms-text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-shadow: 0 -1px 0 #000000;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #000000 #000000 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-md-xlarge {
	padding: 11px 19px;
	font-size: 32px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	-ms-text-shadow: 0 -1px 0 #000000;
	-ms-text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-shadow: 0 -1px 0 #000000;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #000000 #000000 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-u-xlg {
	padding: 11px 19px !important;
	font-size: 32px !important;
}

input.bloat {
	border: 1px solid #ccc;
	font-size: 23px;
	margin-bottom: 20px;
	-webkit-box-sizing: inherit!important;
	-moz-box-sizing: inherit!important;
	box-sizing: inherit!important;
	height: inherit;
	-moz-border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	-ms-border-bottom-left-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-ms-border-bottom-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-ms-border-top-left-radius: 0px 0px;
	border-top-left-radius: 0px 0px;
	-ms-border-top-right-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	-webkit-box-shadow: inset 1px 1px 3px #ccc;
	-ms-box-shadow: inset 1px 1px 3px #ccc;
	box-shadow: inset 1px 1px 3px #ccc;
}

textarea.bloat {
	float: left;
	padding: 10px 8px 10px 14px;
	border: 1px solid #ccc;
	font-size: 23px;
	margin-bottom: 20px;
	-webkit-box-sizing: inherit!important;
	-moz-box-sizing: inherit!important;
	box-sizing: inherit!important;
	height: inherit;
	-moz-border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	-ms-border-bottom-left-radius: 0 0;
	border-bottom-left-radius:  0px 0px;
	-ms-border-bottom-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px 0px 0px 7px 7px;
	-ms-border-top-left-radius:  0px 0px;
	border-top-left-radius: 0px 0px 7px 7px;
	-ms-border-top-right-radius: 0px 0px 7px 7px;
	border-top-right-radius: 0px 0px 7px 7px;
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	-webkit-box-shadow: inset 1px 1px 3px #ccc;
	-ms-box-shadow: inset 1px 1px 3px #ccc;
	box-shadow: inset 1px 1px 3px #ccc;
	line-height: normal;
}


.oftiny {
		width: 110px;
		height: 110px;
		margin: 12px 10px 10px 10px;
		float: left;
}

.mftiny {
	width: 108px;
	float: left;
	border: 1px solid #e4e4e4;
	background-color: #ffffff;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 8px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0 8px 8px rgba(50, 50, 50, 0.25);
	-ms-box-shadow:     0 8px 8px rgba(50, 50, 50, 0.25);
	box-shadow:         0 8px 8px rgba(50, 50, 50, 0.25);
}

.iftiny {
		width: 98px;
		float: left;
		margin: 4px;
		border: 1px solid #e5e5e5;
		background-color: #F6F6F6;
		-ms-border-radius: 4px;
		border-radius: 4px;
}

.pictureFrameTiny {
		width: 98px;
		float: left;
		max-height: 98px;
		overflow: hidden;
		-ms-border-radius: 4px;
		border-radius: 4px;
}

.md-container-med {
		float: left;
		margin: 6px;
		border: 1px solid #e5e5e5;
		background-color: #f6f6f6;
		-ms-border-radius: 4px;
		border-radius: 4px;
}

.padding-0 {
	padding: 0!important;
}

.padding-10 {
	padding: 10px;
}

.padding-headline-10 {
	padding: 0 10px 10px 10px;
}
.margin-0 {
	margin: 0!important;
}

.margin-right-10 {
	margin-right: 10px;
}
.margin-right-100 {
	margin-right: 100px;
}
.step-content {
		border: 1px solid #D4D4D4;
		-ms-border-radius: 4px;
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 10px;
}

.btn-large {
padding: 11px 19px;
font-size: 17.5px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.help-inline {
		font-size: 13px!important;
}

.btn.btn-app.btn-mini {
		width: 30px;
		height: 30px;
		-ms-border-radius: 4px;
		border-radius: 4px;
		padding-left: 3px;
		padding-top: 5px;
}

.btn-app.btn-yellow, .btn-app.btn-yellow.no-hover:hover, .btn-app.btn-yellow.disabled:hover {
		background: #FBB117!important;
		background-color: #FBB117!important;
}

.btn-app.btn-black, .btn-app.btn-black.no-hover:hover, .btn-app.btn-black.disabled:hover {
		background: #2C3539!important;
		background-color: #2C3539!important;
}

.btn-app.btn-green, .btn-app.btn-green.no-hover:hover, .btn-app.btn-green.disabled:hover {
		background: #72c02c!important;
		background-color: #72c02c!important;
}

.btn-app.btn-red, .btn-app.btn-red.no-hover:hover, .btn-app.btn-red.disabled:hover {
		background: #e74c3c!important;
		background-color: #e74c3c!important;
}

.btn-app.btn-blue, .btn-app.btn-blue.no-hover:hover, .btn-app.btn-blue.disabled:hover {
		background: #3498db!important;
		background-color: #3498db!important;
}

.btn-app.btn-purple, .btn-app.btn-purple.no-hover:hover, .btn-app.btn-purple.disabled:hover {
		background: #9B6BCC!important;
		background-color: #9B6BCC!important;
}

.btn-app.btn-orange, .btn-app.btn-orange.no-hover:hover, .btn-app.btn-orange.disabled:hover {
		background: #e67e22!important;
		background-color: #e67e22!important;
}

.btn-app.btn-pink, .btn-app.btn-pink.no-hover:hover, .btn-app.btn-pink.disabled:hover {
		background: #F660AB!important;
		background-color: #F660AB!important;
}

.btn-app.btn-lightblue, .btn-app.btn-lightblue.no-hover:hover, .btn-app.btn-lightblue.disabled:hover {
		background: #A3D5F5!important;
		background-color: #A3D5F5!important;
}

.btn-app.btn-aqua, .btn-app.btn-aqua.no-hover:hover, .btn-app.btn-aqua.disabled:hover {
		background: #27D7E7!important;
		background-color: #27D7E7!important;
}

.btn-app.btn-grey, .btn-app.btn-grey.no-hover:hover, .btn-app.btn-grey.disabled:hover {
		background: #797979!important;
		background-color: #7c7c7c!important;
}

.btn-app.btn-brown, .btn-app.btn-brown.no-hover:hover, .btn-app.btn-brown.disabled:hover {
		background: #9C8061!important;
		background-color: #9C8061!important;
}

.btn-app.btn-dark-blue, .btn-app.btn-dark-blue.no-hover:hover, .btn-app.btn-dark-blue.disabled:hover {
		background: #4765a0!important;
		background-color: #4765a0!important;
}
.btn-app.btn-light-green, .btn-app.btn-light-green.no-hover:hover, .btn-app.btn-light-green.disabled:hover {
		background: #79d5b3!important;
		background-color: #79d5b3!important;
}
.btn-app.btn-dark-red, .btn-app.btn-dark-red.no-hover:hover, .btn-app.btn-dark-red.disabled:hover {
		background: #a10f2b!important;
		background-color: #a10f2b!important;
}
.btn-app.btn-teal, .btn-app.btn-teal.no-hover:hover, .btn-app.btn-teal.disabled:hover {
		background: #18ba9b!important;
		background-color: #18ba9b!important;
}

.btn-app.btn-light, .btn-app.btn-light.no-hover:hover, .btn-app.btn-light.disabled:hover {
		background: #ecf0f1!important;
		background-color: #ecf0f1!important;
}

.btn.btn-app {
		display: inline-block;
		width: 100px;
		margin: 2px;
		position: relative;
		font-size: 18px;
		font-weight: normal;
		color: #FFF;
		text-align: center;
		-ms-text-shadow: 0 -1px -1px #000000!important;
		-ms-text-shadow: 0 -1px -1px rgba(0,0,0,0.2)!important;
		text-shadow: 0 -1px -1px #000000!important;
		text-shadow: 0 -1px -1px rgba(0,0,0,0.2)!important;
		border: 0;
		-ms-border-radius: 12px;
		border-radius: 12px;
		padding: 12px 0 8px;
}

.btn {
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)!important;
}

.btn-app, .btn-app.btn-default, .btn-app.no-hover:hover, .btn-app.btn-default.no-hover:hover, .btn-app.disabled:hover, .btn-app.btn-default.disabled:hover {
		background: #b4c2cc!important;
		background-color: #b5c3ce!important;
		background-image: -moz-linear-gradient(top,#bcc9d5,#abbac3)!important;
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#bcc9d5),to(#abbac3))!important;
		background-image: -webkit-linear-gradient(top,#bcc9d5,#abbac3)!important;
		background-image: -o-linear-gradient(top,#bcc9d5,#abbac3)!important;
		background-image: linear-gradient(to bottom,#bcc9d5,#abbac3)!important;
		background-repeat: repeat-x!important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5',endColorstr='#ffabbac3',GradientType=0)!important;
}

		.btn-app.btn-black, .btn-app.btn-black.no-hover:hover, .btn-app.btn-black.disabled:hover {
				background: #444!important;
				background-color: #474747!important;
				background-image: -moz-linear-gradient(top,#555,#333)!important;
				background-image: -webkit-gradient(linear,0 0,0 100%,from(#555),to(#333))!important;
				background-image: -webkit-linear-gradient(top,#555,#333)!important;
				background-image: -o-linear-gradient(top,#555,#333)!important;
				background-image: linear-gradient(to bottom,#555,#333)!important;
				background-repeat: repeat-x!important;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important;
		}

.btn-mini {
		padding: 0 5px;
		line-height: 22px;
		border-width: 2px;
		font-size: 12px;
}

.file-icon {
		display: inline-block;
		float: left;
		width: 48px;
		height: 48px;
		margin-left: 10px;
		margin-top: 13.5px;
}

#fundUploader .file-heading {
		font-family: Arial;
		font-size: 1.1em;
		display: inline-block;
		float: left;
		width: 450px;
		margin: 0 0 0 20px;
		height: 25px;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
}

#fundUploader .file-name-heading {
		font-weight: bold;
}

#fundUploader .file-size-heading {
		font-weight: normal;
		font-style: italic;
}

li.k-file .file-wrapper .k-upload-action {
		position: absolute;
		top: 0;
		right: 0;
}

li.k-file div.file-wrapper {
		position: relative;
		height: 75px;
}

.recent {
		list-style-type: none;
		margin: 0;
		font-size: 11px;
		line-height: 16px;
}

		.recent img {
				margin-top: 5px;
				margin-right: 10px;
				padding: 1px;
				background: #fff;
				/*border: 1px solid #ccc;*/
				width: 115px;
		}

		.recent li {
				margin-bottom: 8px;
				padding-bottom: 8px;
				border-bottom: 1px solid #eee;
		}

.recent-content .btn {
		font-size: 10px !important;
		margin-top: 5px;
}

.recent-meta {
		font-size: 10px;
		color: #999;
}

.carousel-inner {
		-ms-border-radius: 6px;
		border-radius: 6px
}

/* portfolio items */
.portfolio { 
		width:100%;
		display: block;
		text-align:center; 
		padding: 20px 0 0 0; 
		margin: 0 0 10px; 
}

.portfolio li { 
	float: left; 
	margin-right: 18px; 
	margin-bottom: 18px;
}
.portfolio li a {
	display: block; 
	-webkit-transition: all 0.35s linear; 
	-moz-transition: all 0.35s linear; 
	-o-transition: all 0.35s linear;
	-ms-transition: all 0.35s linear;
	transition: all 0.35s linear;
}

/* clearfix */
/*.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }*/
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*#region Spinners
--------------------------------------------*/
#squaresWaveG {
	position:relative;
	width:240px;
	height:29px
}

#squaresWaveG.sm-squaresWageG{
	position:relative;
	width:120px;
	height:15px
}

.squaresWaveG {
	position:absolute;
	top:0;
	width:29px;
	height:29px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-moz-animation-name:bounce_squaresWaveG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-animation-name:bounce_squaresWaveG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-animation-name:bounce_squaresWaveG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-animation-name:bounce_squaresWaveG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	animation-name:bounce_squaresWaveG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

	.squaresWaveG.sm-squaresWageG {
		width: 15px;
		height: 15px;
	}

#squaresWaveG_1{
	left:0;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#squaresWaveG_2{
	left:30px;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#squaresWaveG_2.sm-squaresWageG{
	left:16px;
}

#squaresWaveG_3{
	left:60px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#squaresWaveG_3.sm-squaresWageG{
	left:32px;
}

#squaresWaveG_4{
	left:90px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#squaresWaveG_4.sm-squaresWageG{
	left:48px;
}

#squaresWaveG_5{
	left:120px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#squaresWaveG_5.sm-squaresWageG{
	left:64px;
}

#squaresWaveG_6{
	left:150px;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#squaresWaveG_6.sm-squaresWageG{
	left:80px;
}

#squaresWaveG_7{
	left:180px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

#squaresWaveG_7.sm-squaresWageG{
	left:96px;
}

#squaresWaveG_8{
	left:210px;
	-moz-animation-delay:1.43s;
	-webkit-animation-delay:1.43s;
	-ms-animation-delay:1.43s;
	-o-animation-delay:1.43s;
	animation-delay:1.43s;
}

#squaresWaveG_8.sm-squaresWageG{
	left:112px;
}

#floatingBarsG{
position:relative;
width:13px;
height:16px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:2px;
height:5px;
-moz-border-radius:2px 2px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:2px 2px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:2px 2px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:2px 2px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:2px 2px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:6px;
-moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:2px;
top:2px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:5px;
top:1px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:2px;
top:2px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:6px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:2px;
bottom:1px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:5px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:2px;
bottom:1px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

} - See more at: http://cssload.net/#sthash.fdW1LtPp.dpuf

/*#endregion */


/*#region Header (logo and menu)
------------------------------------*/
.header {
	z-index:999;
	position:relative;
	border-bottom:solid 2px #eee;

}

.header .container {
	position:relative;
}

.logo {
	position:absolute;
	top:-5px;
	left:0;
}


.collapse.in ul.dropdown-menu {
	margin-bottom:5px;
}

.collapse.in ul.dropdown-menu a {
	padding:5px;
	border-bottom:solid 1px #bbb; 
}

/*Fancybox for gallery page*/
.fancybox-overlay.fancybox-overlay-fixed {
	z-index:9999;
}

/*Modal */

.modal-sm-med {
	width: 400px;
}
.modal-med-lg {
	width: 750px;
}
.modal-body-slim {
 padding: 0;
}
/*#endregion*/

/*Sky Form*/
.sky-form-noborder {
	border: 0 !important; 
}
/*/Sky Form*/

.fundInfoBox {
	min-height: 200px;
}

/* Social Checkboxes*/
.chk-facebook {
	color: #ffffff !important;
	padding-left: 33px !important;
	-ms-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #2b4b90;
	*background-color: #133783;
	background-image: -moz-linear-gradient(top, #3b5998, #133783);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
	background-image: -webkit-linear-gradient(top, #3b5998, #133783);
	background-image: -o-linear-gradient(top, #3b5998, #133783);
	background-image: linear-gradient(to bottom, #3b5998, #133783);
	background-repeat: repeat-x;
	border-color: #133783 #133783 #091b40;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-o-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.chk-facebook  i{
	margin-left: 10px;
}
.chk-facebook:hover,
.chk-facebook:focus,
.chk-facebook:active,
.chk-facebook.active,
.chk-facebook.disabled,
.chk-facebook[disabled] {
	color: #ffffff;
	background-color: #133783;
	*background-color: #102e6d;
}

.chk-facebook:active,
.chk-facebook.active {
	background-color: #0d2456 \9;
}

.chk-twitter {
	color: #ffffff !important;
	padding-left: 33px !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1c95d0;
	*background-color: #0271bf;
	background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
	background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
	background-image: -o-linear-gradient(top, #2daddc, #0271bf);
	background-image: linear-gradient(to bottom, #2daddc, #0271bf);
	background-repeat: repeat-x;
	border-color: #0271bf #0271bf #014473;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.chk-twitter  i{
	margin-left: 10px;
}

.chk-twitter:hover,
.chk-twitter:focus,
.chk-twitter:active,
.chk-twitter.active,
.chk-twitter.disabled,
.chk-twitter[disabled] {
	color: #ffffff;
	background-color: #0271bf;
	*background-color: #0262a6;
}

.chk-twitter:active,
.chk-twitter.active {
	background-color: #01538d \9;
}

.poster button i { 
	top: 2px;  
	font-size: 20px;
	position: relative; 
}

.poster button i.fa-facebook {
	color: #133783;
	margin-right: 4px;
	margin-left: 4px;
}
.poster button i.fa-twitter {
	color: #2daddc;
}

.poster button i.fa-google-plus {
	color: #dd4a38;
}

.poster button i.posted {
	color: #DBDBDB !important;
}
.gridStyle {
		border: 1px solid rgb(212,212,212);
		width: 700px; 
		height: 300px
}

/*Scrollbar*/
.contentHolder-md {
	padding: 0;
	height: 320px; 
	margin: 0 auto;
	overflow: hidden; 
	position: relative; 
}

/*Scrollbar*/
.contentHolder-full {
	padding: 0;
	margin: 0 auto;
	overflow: hidden; 
	position: relative; 
}
/*Profile Post*/
.profile .profile-post.color-zero {
	border-left: 2px solid #737CA1;
}

.profile .profile-post.color-eight {
	border-left: 2px solid #348781;
}

.profile .profile-post.color-nine {
	border-left: 2px solid #FF7F50;
}

h2.heading-xsU {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase
}

/*Embed*/

 .embed-textarea {
		width: 100%;
		height: auto;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		padding: 10px 15px;
		resize: none;
		font-size: 14px;
		font-family: monaco;
		margin-top: 15px;
	}


 .sky-form .note-error {
	color: #ee9393;
}

 .searchContainer {
		font-family: 'Open Sans', sans-serif;
}