<div class="body">

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs margin-bottom-40">
    <div class="container">
      <h1 class="color-green pull-left">Authenticating...</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->
  <!--=== Content Part ===-->
  <div class="container margin-bottom-30">
    <div class="row">
      <div class="col-md-8 col-md-offset-1 col-sm-6">
        <section id="loginForm" class="reg-page">

          <div class="headline">
            <h2>Please wait a moment as we authenticate this account</h2>
          </div>

          <div class="row">
            <div class="col-md-10" ng-show="isAuthenticating">
              <md-spinner-bar-drctv />
            </div>
            <div class="col-md-10" ng-hide="isAuthenticating">
              <p>
                There was an error processing this request.  The error was <strong>{{error}}</strong>.   Please try to <a ng-href="/register">register</a> using 
                Miracles secure registration system.
              </p>
              <p>
                <button type="button" class="btn-u btn-u-lg" ng-click="goToRegistration()">Register Here</button>
                <button type="button" class="btn-u btn-u-lg" ng-click="goToLogin()">Login Here</button>
              </p>
            </div>
          </div>

        </section>
      </div>
    </div><!--/row-->
  </div><!--/container-->
  <!--=== End Content Part ===-->

</div>
<!--/body-->
