<div class="body">
  <style type="text/css">
    /*Registration and Login Page v1
      Taken from /assets/css/pages
      ------------------------------------*/
    .reg-page {
      color: #555;
      padding: 30px;
      background: #fefefe;
      border: solid 1px #eee;
      box-shadow: 0 0 3px #eee;
    }

    /*Reg Header*/
    .reg-header {
      color: #555;
      text-align: center;
      margin-bottom: 35px;
      border-bottom: solid 1px #eee;
    }

      .reg-header h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }

    /*Reg Forms*/
    .reg-page label {
      color: #777;
    }
  </style>
  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs margin-bottom-50">
    <div class="container">
      <h1 class="color-blue pull-left">Reset Password</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->

  <!--=== Content Part ===-->
  <div class="container" ng-form="resetPasswordForm">
    <div class="row margin-bottom-10">

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="reg-page">
          <div class="reg-header">
            <h2>Reset your password?</h2>
            <p>Reset your password below by typing in your email address and clicking 'Get a new password'</p>
            <p>I just remembered! I'll just <a href="/login" class="color-green">Log in</a> now.</p>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>
                Email Address
                <span class="color-red" ng-show="showValidationMessages && resetPasswordForm.email.$error.required">
                  <strong>[required email address]</strong>
                </span>
                <span class="color-red" ng-show="showValidationMessages && resetPasswordForm.email.$invalid && !resetPasswordForm.email.$error.required">
                  <strong>[invalid email address]</strong>
                </span>
                <span class="color-red" ng-show="showValidationMessages && resetPasswordForm.email.$error.maxlength">
                  <strong>[100 character limit]</strong>
                </span>
              </label>
              <input type="email" class="form-control bloat" id="email" name="email" ng-model="emailAddress" required ng-maxlength="100" />
            </div>
          </div>

          <div class="row">
            <div class="text-center" ng-hide="isResetting">
              <button class="btn-u btn-u-lg" type="button" ng-click="resetPassword()">Get a new password</button>
            </div>
            <div align="center" ng-show="isResetting">
              <md-spinner-bar-drctv />
            </div>
          </div>
          <hr />
        </div>
      </div>

    </div><!--/row-->
  </div><!--/container-->
  <!--=== End Content Part ===-->

</div>
<!--/body-->