<div ng-form="fundDonationPaymentForm" class="margin-bottom-20">

  <!-- Card Name -->
  <div class="margin-top-10">
    <label for="cardName">
      Name on card:<i class="color-red">*</i>
      <span class="color-red" ng-show="fundDonationPaymentForm.cardName.$error.required && fundDonationPaymentForm.cardName.$dirty">
        <strong>[Name on card is required]</strong>
      </span>
    </label>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control input-lg bloat" id="cardName" name="cardName" ng-model="order.cardName" type="text" required placeholder="Name on card">
        <a href="https://www.wepay.com/developer/reference/testing" target="_top">Get Testing Details</a>
      </div>
    </div>
  </div>
  <!--/Card Name-->
  <!-- Card Number -->
  <div>
    <label for="cardNumber">
      Card Number:<i class="color-red">*</i>
      <span class="color-red" ng-show="fundDonationPaymentForm.cardNumber.$error.required && fundDonationPaymentForm.cardNumber.$dirty">
        <strong>[Card number required]</strong>
      </span>
    </label>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control input-lg bloat" id="cardNumber" name="cardNumber" ng-model="order.cardNumber" type="text" required placeholder="Card number">
      </div>
    </div>
  </div>
  <!--/Card Number-->
  <!-- Billing Address -->
  <div>
    <label for="billingAddress">
      Address:<i class="color-red">*</i>
      <span class="color-red" ng-show="fundDonationPaymentForm.billingAddress.$dirty && fundDonationPaymentForm.billingAddress.$error.required">
        <strong>[Billing Address is Required]</strong>
      </span>
    </label>

    <div class="row">
      <div class="col-md-10">
        <input class="form-control input-lg bloat" id="billingAddress" name="billingAddress" type="text" ng-model="order.billingAddressAddress.address1" required placeholder="Address">
      </div>
    </div>
  </div>
  <!--/Billing Address -->
  <!-- /Billing City State Zip -->
  <div>
    <label for="billingCity">
      City/State/Zip:<i class="color-red">*</i>
      <span class="color-red" ng-show="fundDonationPaymentForm.billingCity.$error.required && fundDonationPaymentForm.billingCity.$dirty">
        <strong>[Billing City is Required]</strong>
      </span>
    </label>
    <div class="row">
      <div class="col-md-4">
        <input class="form-control bloat" id="billingCity" name="billingCity" type="text" ng-model="order.billingAddressAddress.city" required placeholder="City">
      </div>
      <div class="col-md-3">
        <select class="form-control input-lg bloat" ng-model="selectedState" ng-options="s.name for s in states"></select>
      </div>
      <div class="col-md-3">
        <input class="form-control bloat" id="billingZipCode" name="billingZipCode" type="text" ng-model="order.billingAddressAddress.zipCode" required placeholder="Zip">
      </div>
    </div>
  </div>
  <!-- /Billing City State Zip -->
  <!-- /Card Expiration -->
  <div class="margin-bottom-10">
    <label for="cardExpirationMonth">Expiration:</label>
    <div class="row">
      <div class="col-md-3">
        <select class="form-control input-lg bloat" ng-model="selectedCardMonth" name="cardExpirationMonth" ng-options="m.value as m.name for m in monthOptions"></select>
      </div>
      <div class="col-md-3">
        <select class="form-control input-lg bloat" ng-model="selectedCardYear" ng-options="y.value as y.name for y in yearOptions"></select>
      </div>
    </div>
  </div>
  <!-- /Card Expiration -->
  <!-- /Card CCV -->
  <div>
    <label for="securityCode">
      Security Code:<i class="color-red">*</i>
      <span class="color-red" ng-show="fundDonationPaymentForm.securityCode.$dirty && fundDonationPaymentForm.securityCode.$error.required">
        <strong>[Security code required]</strong>
      </span>
    </label>
    <div class="row">
      <div class="col-md-4">
        <input class="form-control bloat" id="securityCode" name="securityCode" type="text" ng-model="order.cardCvv2" required placeholder="Code">
      </div>
    </div><!-- /Card CCV -->
  </div>
  
  <div ng-hide="isSaving">
    <div>
      <button type="button" class="btn-u btn-u-lg" ng-click="gotoStep(1)"><i class="fa fa-arrow-left"></i> Back to Details</button>
      <button type="button" class="btn-u btn-u-lg margin-top-10" ng-disabled="!fundDonationPaymentForm.$valid" ng-click="savePayment()"><i class="fa fa-check"></i> Save & Continue</button>
    </div>
  </div>

  <div ng-show="isSaving">
    <div>
      <md-spinner-bar-drctv />
    </div>
  </div>

</div>
