<div class="body">
  <style>
    .faq-bg .title-box-v2 h2, .faq-bg .title-box-v2 p {
      color: #fff;
    }

    .faq-page .top-part i {
      float: left;
      color: #777;
      font-size: 20px;
      padding-top: 3px;
      margin-right: 10px;
    }

    .faq-page .faq-add {
      padding: 15px;
      margin-bottom: 20px;
      border: 2px solid #eee;
    }

    .nav, .pagination, .carousel, .panel-title a {
      cursor: pointer;
    }
  </style>
  <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">


  <!--=== Breadcrumbs v2 ===-->
  <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>Learn about FREE Online Fundraising</h1>
      <ul class="breadcrumb-v2 list-inline"></ul>
    </div>
  </div>
  <!--=== End Breadcrumbs v2 ===-->
  <!--=== FAQ Page ===-->
  <div class="container content faq-page">
    <!-- FAQ Blocks -->
    <div class="row margin-bottom-40">
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or">
          <div class="service-bg"></div>
          <i class="icon-pencil"></i>
          <div class="inner-faq-b">
            <h3>1. Getting Started</h3>
            <p>
              We have simplified the process for you and in just a few easy steps you can
              create a FREE online fundraiser.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or">
          <div class="service-bg"></div>
          <i class="icon-heart"></i>
          <div class="inner-faq-b">
            <h3>2. Tell your Friends</h3>
            <p>
              Share your free fundraiser with friends and family by connecting them using
              your social network.  The goal is to reach as many people as possible.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or">
          <div class="service-bg"></div>
          <i class="icon-emoticon-smile"></i>
          <div class="inner-faq-b">
            <h3>3. Collect Donations/Gifts</h3>
            <p>
              It is easy to collection your gifts as they will be available to you immediately.
              Funding Miracles uses a well known and respected payment system specifically
              designed for fundraising.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ Blocks -->
    <!-- FAQ Content -->
    <div class="row">
      <!-- Begin Tab v1 -->
      <div class="col-md-6">
          <uib-tabset>
              <uib-tab heading="Top 7 questions">
                  <!-- Tab Content 1 -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="How does it work?">
                          <p>
                              Funding Miracles allows you to raise money online with ease. Within a few steps, you can create
                              your own personalized fundraising campaign and reach out to your friends and family.  Share your
                              story on Facebook, or send an email to the people in your life to get the word out in order to get
                              to your fundraising goal quicker.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Is it safe?">
                          <p>
                              Your fundraisers are guarded by the best security encryption technology available.  Not only
                              are your donor payments secure, the storage technology also features highly secure access points which
                              make receiving withdrawals secure and private.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Who can I raise money for?">
                          <p>
                              Anyone. We typically have people create fundraisers for themselves and loved ones. The beauty of
                              crowdfunding is that anyone can do it for anyone. With Miracles, we provide the ability to create
                              campaigns and the tools to spread the word.
                          </p>
                      </div>
                      <div uib-accordion-group heading="How much does it cost?">
                          <p>
                              We believe that the person(s) receiving the funds should get the absolute highest amount possible.
                              Miracles only has a <b>transaction fee</b>, which gets charged to the donor when making a payment and pays
                              the online payment service provider (WePay). This is approximately <b>2.9% +$0.30</b> for each transaction.
                              Unlike other crowdfunding websites who charge an additional 5%-10% on top of transaction fees,
                              <b>Miracles DOES NOT have any service charges whatsoever.</b>
                          </p>
                          <p>
                              <b>We believe that the all donations should go to the beneficiary</b>. We pride ourselves on not charging the
                              beneficiary or the donor any additional fees for our services. In fact, we’ve given the option for donors
                              to cover the transaction fees so that the beneficiary gets the full amount.
                          </p>
                      </div>
                      <div uib-accordion-group heading="How do get my donations?">
                          <p>
                              Your money is available the instant someone donates to your fundraiser.  You simply would need
                              to request a withdrawal into your bank account or have a check mailed directly to you
                          </p>
                      </div>
                      <div uib-accordion-group heading="How long do withdrawals take?">
                          <p>
                              Withdrawals typically take 5-7 business days and varies based upon the option chosen (bank transfer or mailed check)
                          </p>
                      </div>
                      <div uib-accordion-group heading="What about my donors?  Do they get charged?">
                          <p>
                              All donations are FREE, however there is a credit card processing fee that takes place that our
                              service provider charges.  This fee is typically 2.9% plus an additional .30&#162 - $.50&#162 of the
                              donation amount
                          </p>
                          <p>
                              <b>Donors have the option to cover the credit card transaction processing fee</b>.
                              The reason for this means the actual donation (e.g. $100) will go to the fundraisers.  Typically,
                              other sites take a percentage from the actual donation so when a donation of $100 is made the actual
                              amount the beneficiary receives is about $90 or so.
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content 1 -->
              </uib-tab>
              <uib-tab heading="Free Online Fundraising">
                  <!-- Tab Content 2 -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="Who can I raisey money for?">
                          <p>
                              Anyone. We typically have people create fundraisers for themselves and loved ones. The beauty of
                              crowdfunding is that anyone can do it for anyone. With Miracles, we provide the ability to create
                              campaigns and the tools to spread the word.
                          </p>
                      </div>
                      <div uib-accordion-group heading="I'd like a private fundraiser.  Is this possible?'">
                          <p>
                              Fundraisers that marked "private" will not be available publicly throughout Funding Miracle's directory.
                              Donors who have a link directly to your fundraisers will be able to access it.  Currently, there is
                              no way for a fundraiser to be completely private.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Can I use a different name?">
                          No.  In order to legitimately collect donations a real name must be provided.  Transparency and
                          authenticity are vital components to us.
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content 2 -->
              </uib-tab>
              <uib-tab heading="Fees">
                  <!-- Tab Content Fees -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="How Much Does It Cost?">
                          <p>
                              We believe that the person(s) receiving the funds should get the absolute highest amount possible.
                              Miracles only has a <b>transaction fee</b>, which gets charged to the donor when making a payment and pays
                              the online payment service provider (WePay). This is approximately <b>2.9% +$0.30</b> for each transaction.
                              Unlike other crowdfunding websites who charge an additional 5%-10% on top of transaction fees,
                              <b>Miracles DOES NOT have any service charges whatsoever.</b>
                          </p>
                          <p>
                              <b>We believe that the all donations should go to the beneficiary</b>. We pride ourselves on not charging the
                              beneficiary or the donor any additional fees for our services. In fact, we’ve given the option for donors
                              to cover the transaction fees so that the beneficiary gets the full amount.
                          </p>
                      </div>
                      <div uib-accordion-group heading="How does Miracles operate without charging fees?">
                          <p>
                              Just like all businesses, we must find a way to keep the lights on while offering free services. Supporters are
                              able to donate any amount to Miracles’ operating costs before they complete their transaction. Since we don’t
                              charge fees like other crowdfunding websites, we solely depend on the generosity of supporters of the site and
                              fundraisers.
                          </p>
                      </div>
                      <div uib-accordion-group heading="I heard that online Fundraisers are fraudlent">
                          <p>
                              Funding Miracles takes several precautionary measure to ensure the legitimacy of an online fundraisers.  If
                              we find something that doesn't jive we will request more information and if the information is not satisfactory
                              we will simply remove the fundraiser and close the account.
                          </p>
                          <p>
                              <b>We recommend that you only create fundraisers for those you are familiar with and confident about.</b>
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content Fees -->
              </uib-tab>
              <uib-tab heading="Receiving Donations">
                  <!-- Tab Content: Receiving Donations -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="What countries are supported?">
                          <p>
                              Currently, only the United States of America is supported ($USD).  Support
                              will come soon for United Kingdom, Canada, and European Union
                          </p>
                      </div>
                      <div uib-accordion-group heading="What about my donors?  Do they get charged?">
                          <p>
                              All donations are FREE, however there is a credit card processing fee that takes place that our
                              service provider charges.  This fee is typically 2.9% plus an additional .30&#162 - $.50&#162 of the
                              donation amount
                          </p>
                          <p>
                              <b>Donors have the option to cover the credit card transaction processing fee</b>.
                              The reason for this means the actual donation (e.g. $100) will go to the fundraisers.  Typically,
                              other sites take a percentage from the actual donation so when a donation of $100 is made the actual
                              amount the beneficiary receives is about $90 or so.
                          </p>
                      </div>
                      <div uib-accordion-group  heading="Can people donate from their phones and mobile devices">
                          <p>
                              Yes.  Our website is responsive to an array of different mobile platforms including
                              phones, tablets, phablets, etc.
                          </p>
                      </div>
                      <div uib-accordion-group heading="I received a donation offline.  Can I add it to the fundraiser?">
                          <p>
                              Yes.  Simply go to the fundraiser's dashboard and go to More->Donations.  From there
                              you can click 'Add offline donation' and it will add your offline donation for free.
                          </p>
                      </div>
                      <div uib-accordion-group heading="What about donor privacy?">
                          <p>
                              We understand that some donors wish to remain anonymous so we have created a solution for
                              them not only to keep their name anonymous but their donation amount as well.  When a donor
                              submits a donation they will get a preview of how their donation will look on the fundraiser page.
                          </p>
                      </div>
                      <div uib-accordion-group heading="What is your take on Taxes">
                          <p>
                              We absolutely recommend that you consult with your tax attorney on how the online donations
                              work.  Most donations received through Funding Miracle's website can be viewed as personal gifts.
                              What we do know for sure is any entity that is legally registered as
                              a charity can be elibigle for a donors claim to a tax deduction.
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content: Receiving Donations -->
              </uib-tab>
          </uib-tabset>
      </div><!--/col-md-6-->
      <!--End Tab v1-->
      <!-- Popular Topics -->
      <div class="col-md-6">

          <uib-tabset>
              <uib-tab heading="Keys to Success">
                  <!-- Tab Content 1 -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="How do I make the most out of the Fundraiser?">
                          <p>
                              When you are truly passionate about something you believe you will find that
                              there will be people who will be earger to help you.  Like a plant in your garden
                              the fundraiser will require nurturing on your part.  Mainly, we urge to
                              keep the conversation going about your fundraiser.  The more you tend to it the
                              more you will see it grow
                          </p>
                      </div>
                      <div uib-accordion-group heading="How do I thank the donors?">
                          <p>
                              When a donation is made you will the opportunity to respond to it by writing a personalized
                              message to the donor.  By default, the system will send out an email thanking them but its ALWAYS
                              a good idea to send a personal note.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Why should I update my fundraiser">
                          <p>
                              Keeping a conversation going about the fundraiser is one of the vital components to success.  Updates
                              for your campaigns will keep your donors engaged and warmly remind them of upcoming important events or
                              other things you may have going on.  Donors are always interested in the progress of the fundraiser campaign.
                              Are they getting better? Any significant milestones?  Any important dates or upcoming surgeries.  Keeping
                              the conversation alive and well almost guarantees the success of a campaign.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Is there a way to share my fundraiser?">
                          <p>
                              Your social network will be a vital component and sharing your fundraiser across your network
                              will enhance the fundraiser's chances of reaching its goal.  Remember, its not only your network
                              that the fundraiser can reach but also your friends and families and their friends and families and
                              so on and so forth.  You can share updates and fundraiser pages across your networks
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content 1 -->
              </uib-tab>
              <uib-tab heading="Donor FAQs">
                  <!-- Tab Content 2 -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="Can I get a refund?">
                          <p>
                              No, refunds are not available because contributions are withdrawn by beneficiaries almost immediately.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Tax Deductible?">
                          <p>
                              We'd advise you speak to a tax professional to get your answers.  For the most part, donations
                              will be seen by the IRS as gifts and therefore do not qualify for a taxpayer deduction.   Only
                              charitable institutions will allow the claim to the deduction.
                          </p>
                      </div>
                      <div uib-accordion-group heading="How much does each donation go to the beneficiary?">
                          The total amount minus the credit card processing fee instituted by WePay.  We do allow
                          the donor to cover the costs so beneficiarys can recieve your entire donation
                      </div>
                      <div uib-accordion-group heading="How do I know that my donation is processed successfully?">
                          You'll be redirected to the screen that states "Payment processed successfully".  In addition
                          you will receive a receipt for your donation.
                      </div>
                      <div uib-accordion-group heading="How do I know that this fundraiser is legitimate?">
                          <p>
                              We have taken this question extremely seriously and have implemented several safeguards to help
                              prevent fundraisers from fundraising illegitimately.  If we find any issues the fundraiser and its
                              account holder will be closed and restricted from returning.
                          </p>
                          <p>
                              We recommend that you donate to fundraisers that you really feel confident about.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Are you secure?">
                          <p>
                              Yes, all transactions are processed using encrypted technology.  We follow the industry standard
                              for secure transactions.
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content 2 -->
              </uib-tab>
              <uib-tab heading="Account FAQ">
                  <!-- Tab Content Fees -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="Oh No! I forgot my password?">
                          <p>
                              If you have lost your password we can reset it for you by going to the login screen and clicking 'Forgot Password'.  A
                              new password will be sent to you and we highly recommend that you change it immediately.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Is my information shared?">
                          <p>
                              No way.  We take your privacy seriously and will never hand out your personal information
                          </p>
                      </div>
                      <div uib-accordion-group heading="Can I close my account">
                          <p>
                              All you have to do is send an email to support@fundingmiracles.com with "Cancel My Account" in the subject line.
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content Fees -->
              </uib-tab>
              <uib-tab heading="General Questions">
                  <!-- Tab Content: Receiving Donations -->
                  <uib-accordion close-others="true">
                      <div uib-accordion-group heading="How do I setup a WePay account?">
                          <p>
                              When you register with Funding Miracles we will begin the registration process for you.  You will
                              be contacted by WePay directly via email and all you have to do is follow the instructions in the email.
                              We'll keep tabs your WePay and where it is in the registration process.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Does Funding Miracles charge fees?">
                          <p>
                              Each fundraiser is completely free minus the transaction costs implemented by our credit card
                              service provider.  There are no subscription based or other fees charged by Funding Miracles.
                              We have dedicated ourselves to relying on the generosity of donors to help cover would be fees.
                              This allows us to grow and provide more features and functionality to general public.
                          </p>
                      </div>
                      <div uib-accordion-group heading="Is my fundraiser right for Funding Miracles?">
                          <p>
                              There are only a couple of truly free fundraising sites on the internet and we pride ourselves
                              on this fact.  The site is simple and secure with many options to help you raise money.
                              In addition you will receive your money instantly.
                          </p>
                      </div>
                  </uib-accordion>
                  <!-- End Tab Content: Receiving Donations -->
              </uib-tab>
          </uib-tabset>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <div class="faq-add">
              <div class="top-part">
                <i class="icon-support"></i>
                <h3 class="new-title">
                  <a href="#">Online Support</a>
                </h3>
              </div>
              <p>
                We are available 24 hours a day/7 days a week and can assist you with any
                questions that you may have.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="faq-add">
              <div class="top-part">
                <i class="icon-lock"></i>
                <h3 class="new-title">
                  <a href="#">Security &amp; Privacy</a>
                </h3>
              </div>
              <p>
                Funding Miracles uses the best secure encryption technology available.  In addition
                to safe and secure payments, your money is kept securely until you withdraw.
              </p>
            </div>
          </div>
        </div>
      </div><!--/col-md-6-->
      <!-- End Popular Topics -->
    </div>
    <!-- End FAQ Content -->
  </div><!--/container-->
  <!--=== End FAQ Page ===-->
  <!--=== Parallax Background ===-->
  <div class="parallax-bg parallaxBg faq-bg margin-bottom-20">
    <div class="container content">
      <div class="title-box-v2">
        <h2>Getting Started</h2>
        <p>
          We are continually exploring ways to enhance your FREE online fundraising experience.  We've
          simplified the setup process and at the same time produced an efficient way for you to create and
          receive donations.
        </p>
      </div>

      <div class="row">
        <!-- Begin Banner Info -->
        <div class="col-md-6 md-margin-bottom-20">
          <div class="banner-info light">
            <i class="rounded-x icon-note"></i>
            <div class="overflow-h">
              <h3>Create a Fund Raiser </h3>
              <p>
                There are a variety of ways to get started on your experience and again we thrive on simplifying the process
                for you.  There are only a couple of things that will be needed in order to get your campaign up and running
                <ol>
                  <li>
                    Brief Fundraiser story (who its for, why, and any info related to the beneficiary's challenges)
                  </li>
                  <li>
                    A Goal Amount
                  </li>
                  <li>
                    Heartwarming photos
                  </li>
                  <li>
                    Time period.  How long do you want the fundraiser to last?
                  </li>
                </ol>
              </p>
            </div>
          </div>
          <div class="banner-info light margin-bottom-10">
            <i class="rounded-x icon-microphone"></i>
            <div class="overflow-h">
              <h3>Tell Your Friends</h3>
              <p>
                Spread the word.  Use your social network, email, phone, postcards, anything to share your
                fundraiser campaign with them
              </p>
            </div>
          </div>
        </div>
        <!-- End Banner Info -->

        <div class="col-md-6 md-margin-bottom-20">
          <div>
            <img src="/assets/img/miracle-create-fund.png" class="img-responsive" />
          </div>
        </div>
      </div>
    </div><!--/container-->
  </div>
  <!--=== End Parallax Background ===-->
  <!--=== FAQ Content ===-->
  <div class="container content">
    <div class="row margin-bottom-40">
      <div class="col-sm-4 no-space">
        <div class="easy-block-v3 first">
          <i class="icon-like"></i>
          <div class="inner-faq-b">
            <h3>Reach</h3>
            <h4>Your Social Network</h4>
            <p>
              Your social network is the lifeline of your fundraiser and the more you reach out to it
              the greater the response will be and more money will be raised.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 no-space">
        <div class="easy-block-v3 second">
          <i class="icon-share"></i>
          <div class="inner-faq-b">
            <h3>Share</h3>
            <h4>Your Story</h4>
            <p>
              The key element to your fundraiser is your story and the more information you provide
              about it the more people will become interested.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 no-space">
        <div class="easy-block-v3 third">
          <i class="icon-link"></i>
          <div class="inner-faq-b">
            <h3>Connect</h3>
            <h4>With Donors</h4>
            <p>
              People are attracted to stories and events that they can relate with.  Your story is sure to
              hit home with somone so it's important to share your story constantly.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row extra-support">
      <div class="col-md-6">
        <div class="headline"><h2>Tips and Tricks</h2></div>
        <!-- Begin Banner Info -->
        <div class="banner-info dark margin-bottom-10">
          <i class="rounded-x icon-user-following"></i>
          <div class="overflow-h">
            <h3>Tell Your Story</h3>
            <p>
              <ul>
                <li>What are you fundraising for?</li>
                <li>Explain the importance to you?</li>
                <li>How will your fundraiser make a difference?</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="banner-info dark margin-bottom-10">
          <i class="rounded-x icon-trophy"></i>
          <div class="overflow-h">
            <h3>Set a Goal</h3>
            <p>
              Your friends and family will want you to succeed.
              <ul>
                <li>Give regular updates on progress that has been made</li>
                <li>Raise your goal once you reach it, then keep the conversation going</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="banner-info dark margin-bottom-10">
          <i class="rounded-x icon-support"></i>
          <div class="overflow-h">
            <h3>Thank your donors</h3>
            <p>
              Funding Miracles will automatically send a thank you message to all of your donors.
              We recommend that you go a step further and thank them privately through our system. 
              Be sure to tell them what their generosity means to you and what their support means
              to the fundraiser.
            </p>
          </div>
        </div>
        <!-- End Banner Info -->
      </div>
      <div class="col-md-6">
        <div class="headline"><h2>Get in touch with us</h2></div>
        <!-- Begin Input Group -->
        <p>
          If you have any more questions or comments please feel free to send us a note
        </p>

        <div class="margin-bottom-20"></div>

        <div class="row" ng-form="sendQuestionForm">
          <div class="col-sm-6">
            <div class="input-group margin-bottom-10">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" placeholder="Name" class="form-control" ng-model="name" required>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group margin-bottom-20">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" placeholder="Email" class="form-control" ng-model="email" required>
            </div>
          </div>
        </div>

        <textarea rows="5" class="form-control margin-bottom-20" placeholder="Type your question here..." ng-model="message" required></textarea>
        <button class="btn-u btn-u-sm pull-right" type="button" ng-click="sendQuestion()">Send question</button>
        <!-- End Input-Group -->
      </div>
    </div>
  </div><!--/container-->
  <!--=== End FAQ Content ===-->

</div>