
    <div class="modal-header">
      <h3>Email a Thank You Note</h3>
    </div>
    <div class="modal-body" ng-form="donationThankYouForm">
      Fill out the information below and an email will be sent directly to the supporter

      <div class="margin-top-10">
        <!-- Email -->

          <div class="row">
            <div class="col-md-9">
              <span class="bigger-140">Recipient: &nbsp;</span>
              <input class="form-control input-lg bloat" id="email" name="email" type="text" ng-model="donation.email" ng-disabled="true">
            </div>
          </div>

        <!--/Email-->
        <!-- Message -->

          <div class="row">
            <div class="col-md-9">
              <span class="bigger-140">Message: &nbsp;</span>
              <textarea class="form-control input-lg bloat" id="message" name="message" type="text" ng-model="donationNote.message" rows="3"></textarea>
            </div>
          </div>

        <!--/Message-->
      </div>

    </div>
    <div class="modal-footer" ng-hide="isSaving">
      <button class="btn btn-large btn-primary" ng-click="ok()">Send Thank You</button>
      <button class="btn btn-large btn-warning" ng-click="cancel()">Cancel</button>
    </div>
    <div class="modal-footer" ng-show="isSaving">
      <md-spinner-bar-drctv />
    </div>

